@use 'sass/utilities' as *;

$progress-value-bar-color: var(--progress-value-bar-color);
$progress-background-bar-color: $white-ter;

.progress-component {
  progress {
    border-radius: 1px;
    border-style: solid;
    border-width: thin;
    border-color: $progress-value-bar-color;


    /* For Chrome or Safari */
    &::-webkit-progress-bar {
      background-color: $progress-background-bar-color;
    }

    &::-webkit-progress-value {
      background-color: $progress-value-bar-color !important;
    }

    /* For Firefox */
    progress {
      background-color: $progress-background-bar-color;
    }

    progress::-moz-progress-bar {
      background-color: $progress-value-bar-color !important;
    }
  }
}