@use 'sass/utilities' as *;

$sortable-item-radius: 0.25rem;

.sortable-list-component {
  padding: 0;

  .sortable-item {
    padding: 0.5rem;
    background-color: $white;
    border: 1px solid $grey-lighter;

    &:first-child {
      border-top-left-radius: $sortable-item-radius;
      border-top-right-radius: $sortable-item-radius;
    }

    &:last-child {
      border-bottom-right-radius: $sortable-item-radius;
      border-bottom-left-radius: $sortable-item-radius;
    }

    .sortable-list-component {
      padding-left: 1rem;
      padding-top: 0.5rem;
    }
  }

  .handle {
    cursor: grab;
  }
}