@use 'sass/utilities' as *;

$background-color: #333;
$color: #fff;

$arrow-size: 16px;
$half-arrow-size: calc($arrow-size / 2);

$content-font-size: 0.875rem;

$regular-trigger-font-size: 1rem;
$regular-trigger-size: 1.5rem;

$small-trigger-font-size: 0.75rem;
$small-trigger-size: 1rem;

.tooltip-component {
  &.help-tip {
    width: $regular-trigger-size;
    height: $regular-trigger-size;
    display: inline-block;

    &.is-small {
      width: $small-trigger-size;
      height: $small-trigger-size;

      .trigger {
        width: $small-trigger-size;
        height: $small-trigger-size;
        font-size: $small-trigger-font-size;
      }
    }

    .trigger {
      width: $regular-trigger-size;
      height: $regular-trigger-size;
      border-radius: 50%;
      border: 1px solid $black;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: $regular-trigger-font-size;
    }
  }

  .tippy-box {
    position: relative;
    background-color: $background-color;
    color: $color;
    border-radius: 4px;
    font-size: $content-font-size;
    letter-spacing: normal;
    text-transform: initial;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    transition-property: transform, visibility, opacity;

    &[data-animation='fade'][data-state='hidden'] {
      opacity: 0;
    }

    &[data-placement^='top']>.tippy-arrow {
      bottom: 0;
    }

    &[data-placement^='top']>.tippy-arrow:before {
      bottom: -$half-arrow-size + 1px;
      left: 0;
      border-width: $half-arrow-size $half-arrow-size 0;
      border-top-color: initial;
      transform-origin: center top;
    }

    &[data-placement^='bottom']>.tippy-arrow {
      top: 0;
    }

    &[data-placement^='bottom']>.tippy-arrow:before {
      top: -$half-arrow-size + 1px;
      left: 0;
      border-width: 0 $half-arrow-size $half-arrow-size;
      border-bottom-color: initial;
      transform-origin: center bottom;
    }

    &[data-placement^='left']>.tippy-arrow {
      right: 0;
    }

    &[data-placement^='left']>.tippy-arrow:before {
      border-width: $half-arrow-size 0 $half-arrow-size $half-arrow-size;
      border-left-color: initial;
      right: -$half-arrow-size + 1px;
      transform-origin: center left;
    }

    &[data-placement^='right']>.tippy-arrow {
      left: 0;
    }

    &[data-placement^='right']>.tippy-arrow:before {
      left: -$half-arrow-size + 1px;
      border-width: $half-arrow-size $half-arrow-size $half-arrow-size 0;
      border-right-color: initial;
      transform-origin: center right;
    }

    &[data-inertia][data-state='visible'] {
      transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
    }
  }

  .tippy-arrow {
    width: $arrow-size;
    height: $arrow-size;
    color: $background-color;
  }

  .tippy-arrow:before {
    content: '';
    position: absolute;
    border-color: transparent;
    border-style: solid;
  }

  .tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1;
  }
}