<div data-command-target="group" data-mode="<%= mode %>">
  <div class="cmd-group text-xs font-semibold uppercase tracking-wider text-base-content/50 px-3 pt-3 pb-1.5"><%= name %></div>
  <% items.each do |item| %>
    <%= item %>
  <% end %>
</div>
