<!DOCTYPE html>
<html>
  <head>
    <title>Bali</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "bali/application", media: "all" %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
