<%= render Bali::ImageGrid::Component.new do |c| %>
  <% c.with_empty_state do %>
    <%= render Bali::Icon::Component.new('image', class: 'size-8 text-base-content/40') %>
    <p class="text-sm text-base-content/60">No images yet</p>
    <%= render Bali::Link::Component.new(name: 'Add image', href: '/lookbook', type: :primary) %>
  <% end %>
<% end %>
