<%= tag.div(**options) do %>
  <div class='navbar-start'>
    <% start_items.each do |start_item| %>
      <%= start_item %>
    <% end %>
  </div>

  <div class='navbar-end'>
    <% end_items.each do |end_item| %>
      <%= end_item %>
    <% end %>
  </div>
<% end %>