@use 'sass/utilities' as *;
@use 'sass/utilities/mixins' as *;

$z-index-drawer: 39;

$drawer-narrow-size: 25rem;
$drawer-medium-size: 40rem;
$drawer-wide-size: 50rem;
$drawer-extra-wide-size: 60rem;

.drawer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: $z-index-drawer;

  &.is-active {
    display: flex;
    opacity: 1;
    pointer-events: auto;

    .drawer-content {
      transform: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      opacity: 1;
    }
  }

  .box.is-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;

    .loader {
      @include loader;
    }
  }

  .drawer-content {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;

    width: $drawer-medium-size;
    height: 100%;
    max-height: 100%;

    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    margin: 0;

    border-radius: 0;

    box-shadow: 0px 0px 18px 18px rgba($black, 0.2);
    overflow: auto;

    &.narrow {
      max-width: $drawer-narrow-size;
      width: 100%;
    }

    &.wide {
      max-width: $drawer-wide-size;
      width: 100%;
    }

    &.extra-wide {
      max-width: $drawer-extra-wide-size;
      width: 100%;
    }
  }

  .drawer-background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba($black, 0.1);
  }
}

@include mobile {
  .drawer.is-active {
    .drawer-content {
      width: 100%;
      max-width: 85%;
    }
  }
}