.drawer-component {
  &.drawer-open {
    .drawer-overlay {
      @apply opacity-100 pointer-events-auto;
    }

    .drawer-panel {
      @apply translate-x-0;
    }
  }
}

@media (max-width: 768px) {
  .drawer-component.drawer-open .drawer-panel {
    @apply max-w-[85%];
  }
}
