<%= render Bali::HoverCard::Component.new(**options) do |c| %>
  <% c.with_trigger(class: 'btn btn-ghost btn-sm btn-circle') do %>
    <%= render Bali::Icon::Component.new('ellipsis-h') %>
  <% end %>
  <ul class="menu p-2">
    <% if (authorized_items = items.select(&:authorized?)).any? %>
      <% authorized_items.each do |item| %>
        <li><%= item %></li>
      <% end %>
    <% else %>
      <%= content %>
    <% end %>
  </ul>
<% end %>
