@use 'sass/utilities' as *;
@use '../../../assets/stylesheets/bali/variables' as *;
@use 'sass/elements/box' as box;

.table-container.is-sticky-headers {
  $sticky-headers-background: $white;

  overflow: unset;
  overflow-y: unset;
  overflow-x: unset;

  table {
    overflow-x: auto;

    thead tr {
      position: sticky;
      top: $navbar-height;
      background: $sticky-headers-background;
    }
  }
}

.table-container {
  .bulk-actions-container {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    z-index: 3000;
    background-color: $white;

    .floated-bar {
      box-shadow: $thick-box-shadow;
      border-radius: box.$box-radius;
      display: flex;
      align-items: center;
    }

    .selected-count {
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      border-radius: box.$box-radius 0 0 box.$box-radius;
      color: $white;
      font-weight: bold;
      font-size: $size-4;
      height: 100%;
    }

    .bulk-actions {
      padding: 0.5rem 0.75rem;
    }
  }
}