<div class="form-page-component mx-auto <%= max_width %>">
  <%= render_breadcrumbs %>

  <%= render Bali::PageHeader::Component.new(
    title: title,
    subtitle: subtitle,
    back: back,
    class: breadcrumb_spacer_class
  ) %>

  <div class="mt-6">
    <%= render_sidebar_layout(render_body_content, sidebar? ? sidebar : nil) %>
  </div>
</div>
