<div class="character-fields card bg-base-200 p-4 mb-2">
  <div class="flex items-center gap-4">
    <div class="flex-1">
      <%= f.text_field :name, placeholder: 'Character name', class: 'input input-bordered w-full' %>
    </div>
    <div class="flex-none">
      <%= f.link_to_remove_fields 'Remove', class: 'btn btn-error btn-sm' %>
    </div>
  </div>
</div>
