/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/log/*.log
/test/dummy/tmp/

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.env

/coverage

# Ignore dummy files
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/log/*.log
/spec/dummy/storage/
/spec/dummy/tmp/
/spec/dummy/tmp/development_secret.txt