# frozen_string_literal: true

module <%= class_name %>
  class Component < <%= parent_class %>
    <%- if initialize_instance_variables -%>
    attr_reader <%= attr_reader_parameters %>
    <%- end -%>

    def initialize(<%= initialize_parameters %>)
    <%- if initialize_instance_variables -%>
      <%= initialize_instance_variables %>
    <%- end -%>
    end
  end
end
