# frozen_string_literal: true

require 'rails_helper'

RSpec.describe Bali::<%= class_name %>::Component, type: :component do
  let(:options) { { <%= attr_reader_test_parameters %> } }
  let(:component) { Bali::<%= class_name %>::Component.new(**options) }

  subject { rendered_component }

  it 'renders <%= class_name.downcase %> component' do
    render_inline(component)

    expect(subject).to have_css 'div.<%= default_css_class %>'
  end
end
