# frozen_string_literal: true

module Bali
  module <%= class_name %>
    class Preview < <%= preview_parent_class %>
      def default
        # Default preview goes here
      end
    end
  end
end
