<%= tag.div **@options do %>
  <div class="card">
    <div class="card-image">
      <figure class="image <%= image_ratio %>">
        <%= content %>
      </figure>
    </div>

    <% if footer? %>
      <%= footer %>
    <% end %>
  </div>
<% end %>
