<%= tag.div(id: input_id) do %>
  <label class="label"><%= @title %> <%= t("ransack.predicates.#{@predicate}") %></label>

  <div class="control">
    <%= text_field_tag input_name, @form.send(@attribute), class: 'input' %>
  </div>
<% end %>
