<%= render Bali::Table::Component.new do |table| %>
  <% table.with_header(name: t('drawers.order_history.order_id')) %>
  <% table.with_header(name: t('drawers.order_history.date')) %>
  <% table.with_header(name: t('drawers.order_history.status')) %>
  <% table.with_header(name: t('drawers.order_history.total')) %>

  <% table.with_row do %>
    <td class="font-mono">#ORD-001</td>
    <td>Jan 15, 2024</td>
    <td><%= render Bali::Tag::Component.new(text: t('drawers.order_history.delivered'), color: :success, size: :sm) %></td>
    <td>$125.00</td>
  <% end %>
  <% table.with_row do %>
    <td class="font-mono">#ORD-002</td>
    <td>Jan 18, 2024</td>
    <td><%= render Bali::Tag::Component.new(text: t('drawers.order_history.shipped'), color: :info, size: :sm) %></td>
    <td>$89.50</td>
  <% end %>
  <% table.with_row do %>
    <td class="font-mono">#ORD-003</td>
    <td>Jan 20, 2024</td>
    <td><%= render Bali::Tag::Component.new(text: t('drawers.order_history.processing'), color: :warning, size: :sm) %></td>
    <td>$210.00</td>
  <% end %>
<% end %>
