<% if params[:layout] == 'false' %>
  <h2 class="text-lg font-semibold mb-4"><%= t('studios.form.new_title') %></h2>
  <%= render 'form', studio: @studio %>
<% else %>
  <%= render Bali::FormPage::Component.new(
    title: t('studios.form.new_title'),
    breadcrumbs: [
      { name: t('navbar.dashboard'), href: admin_root_path, icon_name: 'home' },
      { name: t('studios.title'), href: admin_studios_path },
      { name: t('studios.form.new_breadcrumb') }
    ],
    back: { href: admin_studios_path }
  ) do |page| %>
    <% page.with_body do %>
      <%= render 'form', studio: @studio %>
    <% end %>
  <% end %>
<% end %>
