<%= tag.div **options do %>
  <%= trigger %>

  <% if content.present? %>
    <template data-hovercard-target='template'>
      <% if content_padding %>
        <div class="hover-card-content"><%= content %></div>
      <% else %>
        <%= content %>
      <% end %>
    </template>
  <% end %>
<% end %>
