@use 'sass/utilities' as *;

$z-index-hovercard: 101;
$z-index-under-modal: 39;
$hover-card-background-color: $white;
$hover-card-color: $black-ter;
$hover-card-content-font-size: 0.875rem;
$hover-card-arrow-size: 16px;
$hover-card-box-shadow: 0px 3px 9px rgba($black, 0.25),
  0 0 0 1px rgba($black, 0.1);

.hover-card-component {
  width: max-content;
}

.hover-card-tippy-wrapper {
  .hover-card-content {
    padding: 0.75rem;
  }

  .tippy-box {
    position: relative;
    background-color: $hover-card-background-color;
    color: $hover-card-color;
    border-radius: 4px;
    font-size: $hover-card-content-font-size;
    letter-spacing: normal;
    text-transform: initial;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    transition-property: transform, visibility, opacity;

    box-shadow: $hover-card-box-shadow;

    &[data-animation='fade'][data-state='hidden'] {
      opacity: 0;
    }

    &[data-placement^='top']>.tippy-svg-arrow {
      bottom: 0;

      svg {
        transform: rotate(180deg);
        left: 1px;
        top: 16px;
      }
    }

    &[data-placement^='bottom']>.tippy-svg-arrow {
      top: 0;

      svg {
        left: 1px;
        top: -8px;
      }
    }

    &[data-placement^='left']>.tippy-svg-arrow {
      right: 0;

      svg {
        transform: rotate(90deg);
        left: 13px;
        top: 4px;
      }
    }

    &[data-placement^='right']>.tippy-svg-arrow {
      left: 0;

      svg {
        transform: rotate(270deg);
        left: -11px;
        top: 4px;
      }
    }

    &[data-inertia][data-state='visible'] {
      transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
    }
  }

  .tippy-svg-arrow {
    width: $hover-card-arrow-size;
    height: $hover-card-arrow-size;
    color: $hover-card-background-color;

    svg {
      position: absolute;
    }
  }

  .tippy-content {
    position: relative;
    z-index: 1;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
  }
}