.hover-card-component {
  $z-index-hovercard: 101;

  width: max-content;

  .hovercard.card {
    z-index: $z-index-hovercard;
  }

  .hovercard {
    overflow: visible;
    max-width: unset;
  
    .card-content {
      padding: 0.75rem;
    }
  
    &[data-popper-placement^='top'] > .arrow {
      bottom: -18px;
  
      svg {
        transform: rotate(0);
      }
    }
  
    &[data-popper-placement^='bottom'] > .arrow {
      top: -18px;
  
      svg {
        transform: rotate(180deg);
      }
    }
  
    &[data-popper-placement^='left'] > .arrow {
      right: -14px;
  
      svg {
        transform: rotate(-90deg) translateX(9px);
      }
    }
  
    &[data-popper-placement^='right'] > .arrow {
      left: -14px;
  
      svg {
        transform: rotate(90deg) translateX(-9px);
      }
    }
  
    .arrow {
      position: absolute;
      width: 20px;
      height: 8px;
      background: transparent;
    }
  
    p,
    strong {
      font-size: 0.75rem;
      display: block;
    }
  }
  
  .hovercard-testing {
    .back-home,
    .title,
    .subtitle {
      display: none;
    }
  
    .section {
      padding: 0;
    }
  
    hr {
      display: none;
    }
  
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: 100%;
    }
  
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: 100%;
    }
  
    .container:not(.is-max-desktop) {
      max-width: 100%;
    }
  
    .container {
      max-width: 100%;
    }
  
    .content p:not(:last-child),
    .content dl:not(:last-child),
    .content ol:not(:last-child),
    .content ul:not(:last-child),
    .content blockquote:not(:last-child),
    .content pre:not(:last-child),
    .content table:not(:last-child) {
      margin-bottom: 0;
    }
  }
}