// Third Party Libraries
// Override global Sass variables from the /utilities folder
@use "sass/utilities" with ( // colors
  $black: hsl(0, 0%, 4%),
  $black-bis: hsl(0, 0%, 7%),
  $black-ter: hsl(0, 0%, 14%),

  $grey-darker: hsl(0, 0%, 21%),
  $grey-dark: hsl(0, 0%, 29%),
  $grey: hsl(0, 0%, 48%),
  $grey-light: hsl(0, 0%, 71%),
  $grey-lighter: hsl(0, 0%, 86%),
  $grey-lightest: hsl(0, 0%, 93%),

  $white-ter: hsl(0, 0%, 96%),
  $white-bis: hsl(0, 0%, 98%),
  $white: hsl(0, 0%, 100%),

  $green: hsl(141, 53%, 53%),

  // sizes
  $size-6: 1rem,
  $size-7: 0.875rem);

@use 'sass/elements/icon' with ($icon-dimensions: 1rem);

// Load all styles
@use "bulma";

@forward './vendor/glide';
@forward 'box';
@forward 'code';
@forward 'container';
@forward 'datepicker';
@forward 'forms';
@forward 'general';
@forward 'panel';
@forward 'rich_text';
@forward 'slim_select';
@forward 'switch';
@forward 'typography';
@forward 'variables';

@forward '../../../components/bali/actions_dropdown';
@forward '../../../components/bali/bulk_actions';
@forward '../../../components/bali/avatar';
@forward '../../../components/bali/calendar';
@forward '../../../components/bali/card';
@forward '../../../components/bali/carousel';
@forward '../../../components/bali/chart';
@forward '../../../components/bali/clipboard';
@forward '../../../components/bali/drawer';
@forward '../../../components/bali/dropdown';
@forward '../../../components/bali/filters';
@forward '../../../components/bali/gantt_chart';
@forward '../../../components/bali/heatmap';
@forward '../../../components/bali/hover_card';
@forward '../../../components/bali/icon';
@forward '../../../components/bali/image_grid';
@forward '../../../components/bali/info_level';
@forward '../../../components/bali/level';
@forward '../../../components/bali/link';
@forward '../../../components/bali/list';
@forward '../../../components/bali/loader';
@forward '../../../components/bali/locations_map';
@forward '../../../components/bali/modal';
@forward '../../../components/bali/navbar';
@forward '../../../components/bali/notification';
@forward '../../../components/bali/page_header';
@forward '../../../components/bali/progress';
@forward '../../../components/bali/properties_table';
@forward '../../../components/bali/rate';
@forward '../../../components/bali/reveal';
@forward '../../../components/bali/rich_text_editor';
@forward '../../../components/bali/search_input';
@forward '../../../components/bali/side_menu';
@forward '../../../components/bali/sortable_list';
@forward '../../../components/bali/stepper';
@forward '../../../components/bali/table';
@forward '../../../components/bali/tabs';
@forward '../../../components/bali/timeline/index';
@forward '../../../components/bali/tooltip';
@forward '../../../components/bali/tree_view';