/* Container layout styling */
#app-frame {
  padding-top: var(--bali-navbar-height, 6.25rem);

  &.with-side-bar {
    @media (min-width: 1024px) {
      padding-left: calc(var(--bali-side-menu-width) + 1.5rem);
    }
  }
}

.container.is-not-fluid {
  @media (min-width: 1024px) {
    max-width: 960px;
  }

  @media (min-width: 1216px) {
    max-width: 960px;
  }

  @media (min-width: 1408px) {
    max-width: 960px;
  }
}