/* Container layout styling */

:root {
  --bali-frame-padding-top: 6.25rem;
}

#app-frame {
  padding-top: var(--bali-frame-padding-top);

  &.with-side-bar {
    @media (min-width: 1024px) {
      padding-left: calc(15rem + 1.5rem);
    }
  }
}

.container.is-not-fluid {
  @media (min-width: 1024px) {
    max-width: 960px;
  }

  @media (min-width: 1216px) {
    max-width: 960px;
  }

  @media (min-width: 1408px) {
    max-width: 960px;
  }
}