#app-frame {
  padding-top: $frame-padding-top;

  &.with-side-bar {
    @include desktop {
      padding-left: $side-menu-width + 1.5rem;
    }
  }
}

.container.is-not-fluid {
  @include desktop {
    max-width: $desktop - $container-offset;
  }

  @include widescreen {
    max-width: $desktop - $container-offset;
  }

  @include fullhd {
    max-width: $desktop - $container-offset;
  }
}
