@import 'vendor/flatpickr';

.flatpickr-months {
  @apply py-2.5 bg-primary rounded-t;

  .flatpickr-month {
    @apply text-primary-content;
  }

  .flatpickr-next-month,
  .flatpickr-prev-month {
    @apply p-5 fill-primary-content;
  }
}

.flatpickr-current-month {
  @apply pt-1 pb-0 px-0;
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: oklch(var(--p));
}

.flatpickr-day.selected,
.flatpickr-day.selected:hover {
  background: oklch(var(--p));
  border-color: oklch(var(--p));
}

.flatpickr {
  .is-transparent {
    @apply bg-transparent border-transparent;
  }

  &.is-horizontal {
    @media (max-width: 768px) {
      @apply flex;
    }
  }
}
