@use 'sass/utilities/initial-variables' as *;
@use 'sass/utilities/derived-variables' as *;

.input.is-very-short,
.select.is-very-short {
  width: 4rem;
}

.input.is-short,
.select.is-short {
  width: 100px;
}

.input.is-medium-short,
.select.is-medium-short {
  width: 140px;
}

.input.is-long,
.select.is-long {
  width: 16rem;
}

.input.is-very-long,
.select.is-very-long {
  width: 20rem;
}

.select.full-width {
  width: 100%;

  select {
    width: 100% !important;
  }
}

.control.is-small {
  width: 10rem;
}

.inline-label {
  line-height: 32px;
  margin-right: 0.75rem;

  &:not(:first-child) {
    margin-left: 1.5rem;
  }
}

.field-body>.field {
  flex: 1;
}

.field-body>.field.flex-2 {
  flex: 2;
}

.delete-column {
  padding-top: 1.2rem;
}

.control.inline {
  margin-right: 0.5rem;
}

.control>.v-center {
  align-self: center;
}

.control>.is-5 {
  margin-top: 0.375rem;
}

.radio {
  input {
    margin-right: 0.375rem;
  }

  .field_with_errors {
    width: auto;
    display: inline-block;
  }
}

.block-radio {
  display: block;

  .radio {
    display: block;
  }

  .radio+.radio {
    margin: 0;
  }
}

.large-radio-group {
  .radio {
    font-size: 1rem;
    margin-bottom: 1rem !important;

    input {
      margin-right: 1rem;
    }
  }
}

.field_with_errors {
  width: 100%;

  &>label.label {
    margin-bottom: 0.5rem;
  }
}

.label {
  .field_with_errors {
    display: inline;
  }

  .tooltip-component {
    height: 1.5rem;

    .tippy-content {
      font-weight: normal;
    }
  }
}

.file-icon.empty-text {
  margin-right: 0;
}

.file-label {
  .field_with_errors {
    width: auto;
  }
}

.file.is-boxed {
  &.is-fullwidth {
    .file-label {
      text-align: center;
    }
  }

  .file-name {
    height: unset;
    max-width: unset;

    ul {
      margin: 0;
    }

    li {
      display: flex;
      justify-content: space-between;
    }

    a {
      margin-left: 1em;
    }
  }
}

.radio-buttons-group {
  $togglers-margin-bottom: 1.5rem;

  $toggler-margin-right: 1rem;
  $toggler-border: 1px solid $black;
  $toggler-padding: 1rem;
  $toggler-active-background: $primary;
  $toggler-active-color: $white;

  .field_with_errors {
    width: unset;
  }

  &.is-left {
    text-align: left;
  }

  &.is-center {
    text-align: center;
  }

  &.is-right {
    text-align: right;
  }

  .togglers {
    margin-bottom: $togglers-margin-bottom;
  }

  .toggler {
    background: transparent;
    border: $toggler-border;
    padding: $toggler-padding;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: $toggler-margin-right;
    }

    &.is-active {
      background: $toggler-active-background;
      color: $toggler-active-color;
    }

    &:disabled {
      color: $grey-light;
      border-color: $grey-light;
    }
  }
}