/* General utility styles */
a {
  &[disabled] {
    @apply text-base-300 cursor-not-allowed;
  }

  &.with-icon {
    @apply flex;
  }
}

.absolute-right {
  @apply absolute right-0;
}

.push-right {
  @apply grow-[20];
}

.is-fullwidth {
  @apply w-full;
}

.w-fit {
  @apply w-fit;
}

.is-margin-auto {
  @apply m-auto;
}

.is-circle {
  @apply rounded-full;
}

/* Notification animations */
.slideInRight {
  animation: slideInRight 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) both;
}

.fadeOutRight {
  animation: fadeOutRight 0.3s cubic-bezier(0.06, 0.71, 0.55, 1) both;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.box {
  @apply card card-border card-body bg-base-100 shadow-sm;
}