@use 'sass/utilities/initial-variables' as *;

a {
  &[disabled] {
    color: $grey-lighter;
    cursor: not-allowed;
  }

  &.with-icon {
    display: flex;
  }
}

.absolute-right {
  position: absolute;
  right: 0;
}

.push-right {
  flex-grow: 20;
}

.is-fullwidth {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.is-margin-auto {
  margin: auto;
}

.is-circle {
  border-radius: 50%;
}