a {
  &[disabled] {
    color: $grey-lighter;
    cursor: not-allowed;
  }

  &.with-icon {
    display: flex;
  }
}


.inline {
  display: inline-block;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.flex-2 {
  flex: 2;
}

.push-right {
  flex-grow: 20;
}

.grow {
  flex-grow: 1;
}

.justify-left {
  justify-content: left;
}

.is-fullwidth {
  width: 100%;
}

.margin-right-0 {
  margin-right: 0rem;
}

.margin-right-1 {
  margin-right: 0.25rem;
}

.margin-right-2 {
  margin-right: 0.5rem;
}

.margin-right-3 {
  margin-right: 0.75rem;
}

.margin-left-0 {
  margin-left: 0rem;
}

.margin-left-1 {
  margin-left: 0.25rem;
}

.margin-left-2 {
  margin-left: 0.5rem;
}

.margin-left-3 {
  margin-left: 0.75rem;
}

.margin-top-0 {
  margin-top: 0rem;
}

.margin-top-1 {
  margin-top: 0.25rem;
}

.margin-top-2 {
  margin-top: 0.5rem;
}

.margin-top-3 {
  margin-top: 0.75rem;
}

.margin-bottom-0 {
  margin-bottom: 0rem !important;
}

.margin-bottom-1 {
  margin-bottom: 0.25rem;
}

.margin-bottom-2 {
  margin-bottom: 0.5rem;
}

.margin-bottom-3 {
  margin-bottom: 0.75rem;
}

.padding-right-1 {
  padding-right: 0.25rem;
}

.padding-right-2 {
  padding-right: 0.5rem;
}

.padding-right-3 {
  padding-right: 0.75rem;
}

.vertically-centered {
  display: flex;
  align-items: center;
}

.flex-end {
  align-self: flex-end;
}
