// Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
// the trix-editor content (whether displayed or under editing). Feel free to incorporate this
// inclusion directly in any other asset bundle and remove this file.
//
// We need to override trix.css's image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
@import 'vendor/trix';

trix-editor {
  @apply bg-base-100 min-h-40;

  &.input {
    @apply block h-auto;
  }
}

.trix-content {
  @apply py-2 px-4;

  ul {
    list-style: disc;
  }

  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      @apply flex-[1_0_33%] px-2 max-w-[33%];
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        @apply flex-[0_0_50%] max-w-[50%];
      }
    }
  }
}
