.slim-select {
  position: relative;

  .button {
    position: absolute;
    top: -2.4rem;
    right: 0;
  }

  .ss-main {
    .ss-single-selected,
    .ss-multi-selected {
      min-height: 2.5em;
    }

    .ss-multi-selected {
      .ss-add {
        margin: auto 1rem;
        justify-content: center;
        align-items: center;
      }

      .ss-values .ss-value {
        font-size: 1rem;
        background-color: $primary;
      }
    }

    &.is-shorter {
      .ss-content .ss-list {
        max-height: 160px;
      }
    }
  }

  .field_with_errors {
    .ss-main.select.is-multiple {
      .ss-multi-selected {
        border-color: $error;
      }
    }
  }

  .select {
    &:after {
      display: none !important;
    }
  }
}

// Needs to be outside because when the select is appended to the body,
// it won't be within the .slim-select selector
.ss-content {
  border-radius: 0 0 4px 4px;
  box-shadow: 3px 12px 12px 0px rgba(10, 10, 10, 0.1);

  .ss-search {
    input:focus {
      box-shadow: 0 0 3px $primary;
    }
  }

  .ss-list {
    .ss-option {
      &:hover,
      &.ss-highlighted {
        background-color: $primary;
      }
    }
  }
}
