.switch {
  label {
    $transition-time: 0.4s;
    $width: 3.75rem;
    $height: 2rem;
    $padding: 0.1875rem;
    $slider-size: 1.62rem;

    @apply relative flex items-center bg-base-300 shadow-sm;
    width: $width;
    height: $height;
    border-radius: $height;
    padding: $padding;
    transition: background-color $transition-time;

    &::before {
      content: '';
      @apply rounded-full shadow-sm bg-base-100;
      width: $slider-size;
      height: $slider-size;
      transform: translateX(0%);
      transition: transform $transition-time;
    }
  }

  input {
    @apply absolute -left-4 opacity-0 outline-none select-none;
  }

  input:checked + label  {
    @apply bg-success;

    &::before {
      transform: translateX(100%);
    }
  }
}
