  $error: hsl(10, 60%, 59%);

  // box-shadow
  $box-shadow: 0px 3px 18px rgba(hsl(0, 0%, 4%), 0.1), 0 0 0 1px rgba(hsl(0, 0%, 4%), 0.03);
  $thick-box-shadow: 0px 3px 18px rgba(hsl(0, 0%, 4%), 0.1), 0 0 0 8px rgba(hsl(0, 0%, 4%), 0.25);
  $sharp-box-shadow: 3px 3px 3px rgba(10, 10, 10, 0.1);

  // font-weight
  $fw-500: 500;

  // height
  $navbar-height: 3.75rem;

  $frame-padding-top: 6.25rem;