<%= tag.div(**options) do %>
  <div class='is-flex'>
    <%= image_tag title_icon_url, class: 'title-icon icon' if title_icon_url %>
    <%= tag.div title, class: @title_class %>
  </div>

  <%= render Bali::Icon::Component.new('chevron-down', class: "trigger-icon #{@icon_class}") %>
<% end %>
