/* Stepper component */
.stepper-component {
  --step-marker-border-size: 0.5rem;
  --step-marker-size: 2rem;
  --step-details-padding-top: 0.2rem;
  --step-connector-height: 0.2rem;

  @apply flex flex-wrap;

  .step-component {
    @apply mt-0 relative grow basis-0;

    &:before {
      /* Gradient from base-300 to primary */
      background: linear-gradient(to left, oklch(var(--b3)) 50%, oklch(var(--p)) 50%);
      background-size: 200% 100%;
      background-position: right bottom;
    }

    &.is-active:before,
    &.is-done:before {
      background: linear-gradient(to left, oklch(var(--p)) 50%, oklch(var(--p)) 50%);
    }

    &.is-done {
      .step-marker {
        @apply bg-primary;
        border: var(--step-marker-border-size) solid oklch(var(--p));
      }

      .icon path {
        @apply fill-primary-content;
      }
    }

    &.is-active .step-marker {
      @apply bg-base-100;
      border: var(--step-marker-border-size) solid oklch(var(--p));
    }

    &.is-pending {
      @apply text-base-content/50;
    }

    &:not(:first-child)::before {
      content: ' ';
      @apply block absolute w-full;
      height: var(--step-connector-height);
      bottom: 0;
      left: -50%;
      top: calc(var(--step-marker-size) / 2);
    }
  }

  .step-marker {
    height: var(--step-marker-size);
    width: var(--step-marker-size);
    @apply absolute;
    left: calc(50% - var(--step-marker-size) / 2);

    @apply items-center flex rounded-full font-bold justify-center;
    @apply bg-base-300;
    border: var(--step-marker-border-size) solid oklch(var(--b3));
    box-shadow: 0px 0px 0px var(--step-marker-border-size) oklch(var(--b1));
    @apply z-10;
  }

  .step-details {
    @apply text-center mx-2;
    margin-top: var(--step-marker-size);
    padding-top: var(--step-details-padding-top);
  }
}
