$menu-border-radius: 0.25rem;
$menu-dropdown-icon-size: 0.75em;
$menu-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
$selected-shadow: 0 0 0 2px oklch(var(--p) / 0.5);

.rich-text-editor-menu {
  @apply flex text-center w-fit;
  box-shadow: $menu-box-shadow;
  border-radius: $menu-border-radius;

  .toolbar-link.is-active {
    @apply text-primary;

    path {
      fill: oklch(var(--p));
    }
  }

  .dropdown-icon {
    .svg-inline {
      width: $menu-dropdown-icon-size;
      height: $menu-dropdown-icon-size;

      path {
        @apply fill-base-300;
      }
    }
  }

  .image-grid-component {
    @apply py-2 px-4 w-[25rem];

    .column {
      @apply p-1;
    }

    .card {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);

      &:hover {
        box-shadow: $selected-shadow;
      }
    }
  }

  .dropdown-menu {
    @apply min-w-0;
  }

  .dropdown-trigger {
    a {
      @apply w-max;
    }
  }

  > :first-child,
  > :first-child a {
    border-radius: $menu-border-radius 0 0 $menu-border-radius;
  }

  > :last-child {
    border-radius: 0 $menu-border-radius $menu-border-radius 0;
    @apply border-r-0;
  }

  a.toolbar-link {
    @apply inline-block text-base-content bg-base-100 border-r border-base-200;
    @apply py-1 px-1;

    &,
    &.table {
      @apply mb-0;
    }

    &.mark {
      @apply p-1 w-max;
    }

    &.disabled {
      @apply opacity-20 cursor-not-allowed;
    }

    &:hover {
      @apply bg-base-200;
    }
  }

  .dropdown-item {
    @apply block border-none w-full text-left py-1 px-4 m-0;

    &.is-active {
      @apply bg-base-100 text-base-content font-bold underline;
    }

    &:hover {
      @apply bg-base-200;
    }
  }

  .link-panel {
    @apply w-72 px-2 text-left text-sm;

    .input {
      @apply inline-block text-left overflow-hidden;
      overflow-wrap: normal;
    }

    [contenteditable='true']:empty:before {
      @apply text-base-300 block pointer-events-none;
      content: attr(placeholder);
    }

    .tabs {
      @apply mb-2;

      ul {
        @apply list-none m-0;
      }

      li {
        @apply block p-0;
      }
    }

    .page-link {
      @apply block border-none;
    }
  }

  .page-selection {
    @apply max-h-[200px] overflow-auto;
  }

  .color-selector {
    @apply h-auto w-8 p-1.5 border-none bg-base-100;

    &::-webkit-color-swatch-wrapper {
      @apply p-0;
    }

    &::-webkit-color-swatch {
      @apply p-0 m-0 border-none rounded-r;
    }
  }
}
