// Rich text editor theme colors
$selected-cell-background-color: oklch(var(--p) / 0.2);
$resize-handle-color: oklch(var(--p));

.rich-editor-content {
  p {
    @apply min-h-6;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-base;
  }

  ul {
    list-style: disc outside;
    @apply ml-8 mt-4;

    ul {
      list-style: circle outside;
      @apply mt-0;

      ul {
        list-style: square outside;

        ul {
          list-style: disc outside;

          ul {
            list-style: circle outside;
          }
        }
      }
    }
  }

  li {
    @apply list-item py-0.5 px-0.5;

    p:not(:last-child) {
      @apply mb-0;
    }
  }

  ol {
    @apply list-decimal ml-8 mt-4;
  }

  blockquote {
    @apply bg-base-200 border-l-4 border-base-300 py-5 px-6;
  }

  table {
    @apply border-collapse table-fixed w-full m-0 overflow-hidden;

    td,
    th {
      @apply min-w-4 border-2 border-base-200 py-1 px-1.5;
      @apply align-top box-border relative;

      > * {
        @apply mb-0;
      }
    }

    th {
      @apply font-bold text-left bg-base-200;
    }

    .selectedCell:after {
      @apply z-[2] absolute inset-0 pointer-events-none;
      content: '';
      background: $selected-cell-background-color;
    }

    .column-resize-handle {
      @apply absolute -right-0.5 top-0 -bottom-0.5 w-1 pointer-events-none;
      background-color: $resize-handle-color;
    }

    p {
      @apply m-0;
    }
  }

  .suggestion {
    @apply text-info border border-info rounded-md py-0.5 px-1 cursor-pointer;
    box-decoration-break: clone;
  }

  blockquote:not(:last-child),
  dl:not(:last-child),
  ol:not(:last-child),
  p:not(:last-child),
  pre:not(:last-child),
  table:not(:last-child),
  ul:not(:last-child) {
    @apply mb-4;
  }

  pre {
    @apply bg-neutral rounded-lg text-neutral-content p-3;
    font-family: 'JetBrainsMono', monospace;

    code {
      @apply bg-transparent text-inherit text-sm p-0;
    }

    code.hljs {
      @apply block overflow-x-auto p-4;
    }

    .hljs {
      color: #abb2bf;
      background: #282c34;
    }

    .hljs::selection,
    .hljs ::selection {
      background-color: #3e4451;
      color: #abb2bf;
    }

    /* base03 - #545862 -  Comments, Invisibles, Line Highlighting */
    .hljs-comment {
      color: #545862;
    }

    /* base04 - #565c64 -  Dark Foreground (Used for status bars) */
    .hljs-tag {
      color: #565c64;
    }

    /* base05 - #abb2bf -  Default Foreground, Caret, Delimiters, Operators */
    .hljs-subst,
    .hljs-punctuation,
    .hljs-operator {
      color: #abb2bf;
    }

    .hljs-operator {
      @apply opacity-70;
    }

    /* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
    .hljs-bullet,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-selector-tag,
    .hljs-name,
    .hljs-deletion {
      color: #e06c75;
    }

    /* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
    .hljs-symbol,
    .hljs-number,
    .hljs-link,
    .hljs-attr,
    .hljs-variable.constant_,
    .hljs-literal {
      color: #d19a66;
    }

    /* base0A - Classes, Markup Bold, Search Text Background */
    .hljs-title,
    .hljs-class .hljs-title,
    .hljs-title.class_ {
      color: #e5c07b;
    }

    .hljs-strong {
      @apply font-bold;
      color: #e5c07b;
    }

    /* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
    .hljs-code,
    .hljs-addition,
    .hljs-title.class_.inherited__,
    .hljs-string {
      color: #98c379;
    }

    /* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
    .hljs-built_in,
    .hljs-doctag, /* guessing */
    .hljs-quote,
    .hljs-keyword.hljs-atrule,
    .hljs-regexp {
      color: #56b6c2;
    }

    /* base0D - Functions, Methods, Attribute IDs, Headings */
    .hljs-function .hljs-title,
    .hljs-attribute,
    .ruby .hljs-property,
    .hljs-title.function_,
    .hljs-section {
      color: #61afef;
    }

    /* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
    .hljs-type,
    .hljs-template-tag,
    .diff .hljs-meta,
    .hljs-keyword {
      color: #c678dd;
    }
    .hljs-emphasis {
      color: #c678dd;
      @apply italic;
    }

    /* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
    .hljs-meta,
    .hljs-meta .hljs-keyword,
    .hljs-meta .hljs-string {
      color: #be5046;
    }

    .hljs-meta .hljs-keyword,
    .hljs-meta-keyword {
      @apply font-bold;
    }
  }
}
