.gantt-chart-component {
  .gantt-chart-timeline-background {
    @apply absolute w-full top-0;
    height: $gantt-chart-timeline-data-height;
    border-bottom: 1px solid $border-color;
  }

  .gantt-chart-timeline-background-column {
    @apply absolute top-0 h-full;
    border-right: 1px solid oklch(var(--b3) / 0.5);

    &.is-weekend {
      @apply bg-base-200/40;
    }
  }
}
