$icon-size: 2rem;

.image-component {
  position: relative;
  width: fit-content;

  .image img {
    height: 100% !important;
  }

  .image-figure {
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .clear-image-button {
    position: absolute;
    top: -0.75rem;
    right: -0.7rem;
    border-radius: 50%;
    height: $icon-size;
    width: $icon-size;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: $grey-lighter;
    color: $black;
    opacity: 0.8;
  }

  &:hover .clear-image-button {
    display: flex;
  }

  .image-input-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .icon-component {
      display: none;
    }

    .control {
      display: none;
    }

    &:hover {
      background-color: rgba(220, 220, 220, 0.4);
      backdrop-filter: blur(4px);

      .icon-component {
        display: flex;
      }
    }
  }

  @include mobile {
    .image-input-container {
      background-color: rgba(220, 220, 220, 0.4);
      backdrop-filter: blur(4px);

      .icon-component {
        display: flex;
      }
    }

    .clear-image-button {
      display: flex;
    }
  }
}