@use 'sass/utilities' as *;
@use 'sass/utilities/mixins' as *;
@use '../../../assets/stylesheets/bali/variables.scss' as *;

.navbar {
  $background-transition-time: 1s;

  box-shadow: $box-shadow;
  transition: background-color $background-transition-time;

  &>.container {
    & .navbar-brand {
      margin-left: 0;
    }

    & .navbar-menu {
      margin-right: 0;
    }
  }

  &.is-transparent {
    background: transparent;
    box-shadow: none;
    transition: background-color $background-transition-time;
  }

  @include touch {
    &.is-transparent.is-active {
      transition: background-color $background-transition-time;
      box-shadow: none;

      a,
      .dropdown-item,
      .dropdown-link {
        color: $black;
      }

      .navbar-menu {
        transition: background-color $background-transition-time;
      }
    }
  }
}

.navbar-link.navbar-link-with-contents {
  padding-right: 3.5rem;
}

$user-icon-size: 1.62rem;
$user-icon-padding: 0.815rem;

.user-icon {
  width: $user-icon-size;
  height: $user-icon-size;
  border-radius: $user-icon-size;
  margin-right: calc($user-icon-size / 2);
  background-color: $purple;
  text-align: center;

  &:hover {
    background-color: darken($purple, 10%);
  }

  &.navbar-burger {
    margin-top: $user-icon-padding;
    margin-right: $user-icon-padding;
  }
}

.left-burger {
  margin-right: auto;
  margin-left: 0;
}

.navbar-link-title {
  font-size: 0.87rem;
}

.navbar-link-subtitle {
  font-size: $size-7;
}

.navbar-brand {
  .navbar-item.app-logo {
    display: none;

    @include desktop {
      display: flex;
    }
  }
}