<%= render Bali::Topbar::Component.new do |topbar| %>
  <% topbar.with_search do %>
    <label class="input input-sm input-bordered flex items-center gap-2 bg-base-200 border-0">
      <%= render Bali::Icon::Component.new('search', class: 'size-4 text-base-content/50') %>
      <input type="text" class="grow" placeholder="Search..." />
      <kbd class="kbd kbd-xs hidden sm:inline-flex">⌘K</kbd>
    </label>
  <% end %>
<% end %>
