<%= render Bali::Topbar::Component.new(mobile_trigger_id: nil) do |topbar| %>
  <% topbar.with_brand do %>
    <span class="font-semibold text-base">My App</span>
  <% end %>

  <% topbar.with_search do %>
    <label class="input input-sm input-bordered flex items-center gap-2 bg-base-200 border-0">
      <%= render Bali::Icon::Component.new('search', class: 'size-4 text-base-content/50') %>
      <input type="text" class="grow" placeholder="Search..." />
    </label>
  <% end %>

  <% topbar.with_user_menu do %>
    <%= render Bali::Avatar::Component.new(size: :xs) do |avatar| %>
      <% avatar.with_placeholder { 'AG' } %>
    <% end %>
  <% end %>
<% end %>
