$icon-size-normal: 1em;
$icon-size-medium: 2rem;
$icon-size-large: 3rem;

.icon-component {
  .svg-inline {
    display: inline-block;
    font-size: inherit;
    height: $icon-size-normal;
    width: $icon-size-normal;
    overflow: visible;
    vertical-align: -0.125em;
  }

  &.is-large svg {
    height: $icon-size-large;
    width: $icon-size-large;
  }

  &.is-medium svg {
    height: $icon-size-medium;
    width: $icon-size-medium;
  }
}
