.icon-component {
  .svg-inline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    width: 1em;
    overflow: visible;
    vertical-align: -0.125em;
  }
  
  span.icon.is-large svg {
    height: 3rem;
    width: 3rem;
  }
  
  span.icon.is-medium svg {
    height: 2rem;
    width: 2rem;
  }
}
