.icon-component {
  .svg-inline {
    display: inline-block;
    font-size: inherit;
    height: 1rem;
    width: 1rem;
    overflow: visible;
    vertical-align: -0.125em;
  }

  &.size-8 .svg-inline {
    height: 2rem;
    width: 2rem;
  }

  &.size-12 .svg-inline {
    height: 3rem;
    width: 3rem;
  }
}
