<div class="flex flex-col sm:flex-row items-center justify-between gap-2 py-4">
  <% if show_summary? %>
    <div class="text-sm text-base-content/70">
      <%= summary_text %>
    </div>
  <% else %>
    <div></div>
  <% end %>

  <% if show_pagination? %>
    <%= render Bali::Pagination::Component.new(pagy: @pagy) %>
  <% end %>
</div>
