<div class="side-menu-component" data-side-menu-target="container">
  <aside class="menu">
    <% lists.each do |list| %>
      <%= list %>
    <% end %>
  </aside>
</div>

<div class="menu-overlay" data-side-menu-target="overlay"></div>
