/* Side menu component */
.side-menu-component {
  --side-menu-width: 15rem;
  --navbar-height: 3.75rem;

  @apply fixed h-full p-4 bg-base-100 shadow-lg z-10;
  width: var(--side-menu-width);
  top: var(--navbar-height);
  left: calc(-1 * var(--side-menu-width));
  transition: 0.2s ease-in-out;

  @media (min-width: 1024px) {
    left: 0;
  }

  &.is-active {
    left: 0;
  }

  .menu-label {
    @apply text-xs pl-2;
  }

  .menu {
    @apply h-full;
  }

  .menu-list {
    @apply overflow-y-auto;

    a {
      @apply pl-2 flex items-center text-sm;

      .icon {
        @apply size-4;
      }
    }

    .is-active {
      @apply font-medium;

      .icon > svg > * {
        fill: currentColor !important;
      }
    }

    .link-component {
      @apply relative;

      &.is-list::after {
        @apply absolute top-1/2 right-2;
        content: ' ';
        @apply inline-block border-b-2 border-r-2 border-base-content/50;
        @apply size-2 -translate-y-1/2 -rotate-45;

        &.is-active {
          @apply border-base-100;
        }
      }
    }

    .is-revealed .link-component.is-list::after {
      @apply -translate-y-[65%] rotate-45 border-base-content/50;
    }
  }

  .icon {
    @apply mr-2;
  }

  &--menu-switch-component {
    @apply flex items-center w-full;

    .icon {
      @apply m-0 mr-3;
    }
  }

  .menu-switcher {
    @apply w-full;

    .menu-switcher--trigger {
      @apply relative flex items-center w-full cursor-pointer;
      @apply py-1 px-2 rounded-sm;

      &:hover {
        @apply bg-base-200;
      }
    }

    &.with-multiple-switches .menu-switcher--trigger .side-menu-component--menu-switch-component .title-text::after {
      @apply absolute top-1/2;
      content: ' ';
      @apply inline-block border-b-2 border-r-2 border-base-content/60;
      @apply size-2 ml-2 -translate-y-[65%] rotate-45;
    }

    &.is-active .menu-switcher--trigger {
      @apply bg-base-200;
    }
  }

  .header {
    @apply flex justify-center;

    .expand-icon {
      @apply hidden;
    }

    .link-component {
      @apply flex justify-center items-center;
    }
  }

  .side-menu-component--item-component.is-list.is-collapsed {
    @apply hidden;
  }

  &.is-collapsed {
    @apply w-min;

    .menu-switcher--trigger,
    .menu-list .link-component,
    .header .link-component {
      @apply flex justify-center items-center;
      @apply w-[2.625rem] h-[2.625rem];
    }

    .header {
      @apply flex-col-reverse;

      .link-component:hover {
        @apply rounded-sm bg-base-200;
      }

      .collapse-icon {
        @apply hidden;
      }

      .expand-icon {
        @apply flex m-0;
      }
    }

    .side-menu-component--menu-switch-component {
      @apply justify-center;

      .icon {
        @apply p-0 m-0;
      }

      .description {
        @apply hidden;
      }
    }

    .menu-label {
      @apply hidden;
    }

    .menu-list {
      @apply w-min;
    }

    .menu-list .link-component {
      @apply p-0 flex justify-center;

      span:not(.icon),
      &::after {
        @apply hidden;
      }

      span.icon {
        @apply m-0;
      }
    }

    .menu-list ul {
      @apply hidden;
    }

    .side-menu-component--item-component.is-collapsed {
      @apply flex;
    }

    .side-menu-component--item-component.is-expanded {
      @apply hidden;
    }
  }

  &:not(.is-collapsed) {
    .side-menu-component--item-component.is-collapsed {
      @apply hidden;
    }

    .side-menu-component--item-component.is-expanded {
      @apply block;
    }
  }
}

.menu-overlay {
  @apply fixed inset-0 z-[4] opacity-0 pointer-events-none hidden;
  transition: 0.2s ease-in-out;
}

.side-menu-component.is-active ~ .menu-overlay {
  @apply block bg-black/50 opacity-100 pointer-events-auto;
}

.menu-switcher-tippy-wrapper {
  .tippy-svg-arrow {
    @apply hidden;
  }

  .tippy-content {
    width: 15rem;

    :first-child {
      @apply rounded-t;
    }

    :last-child {
      @apply rounded-b;
    }

    .link-component.dropdown-item {
      @apply flex items-center py-1.5 px-4;
    }
  }
}

.side-menu-component--item-component-tippy-wrapper .tooltip-component {
  @apply hidden;
}

.side-menu-component--item-component-tippy-wrapper ul li .link-component {
  @apply relative flex items-center text-base-content/70;
  @apply text-sm leading-normal py-1.5 px-4;
  @apply text-left whitespace-nowrap w-full;

  .icon {
    @apply mr-3;
  }

  &:hover {
    @apply bg-base-200;
  }
}
