/* Filters component */
.filters-component {
  .field.has-addons .control input {
    @apply h-full;
  }

  .button {
    &.is-text {
      &:hover {
        @apply bg-base-200 border border-base-300;
      }
    }

    &.is-selected {
      @apply bg-info text-info-content border border-info;

      &:hover {
        @apply bg-info/90 border-info/80;
      }
    }

    .counter {
      @apply pr-1;
    }
  }

  .popup-element {
    @apply relative;

    svg {
      @apply size-4;
    }
  }

  .filters-popup {
    @apply absolute left-0 top-0 z-10 max-w-md w-max;

    .close-button {
      @apply absolute right-4 top-4 text-base-content/60 rounded-full;

      &:hover {
        @apply bg-base-200;
      }
    }

    .box {
      @apply shadow-lg pt-8;
      box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.1), 0 0 0 5px rgba(0, 0, 0, 0.03);
    }

    .filter-options {
      @apply overflow-y-auto max-h-56;
    }

    .tag:not(.is-white) {
      @apply flex justify-start mb-1 cursor-pointer;
      @apply bg-base-200 text-base-content;

      &.is-selected {
        @apply bg-info text-info-content;
      }
    }

    input[type='checkbox'],
    input[type='radio'] {
      @apply hidden;
    }

    &.popin {
      animation-duration: 0.2s;
      animation-name: slidein;
    }

    .multiple-text-inputs-container {
      @apply flex overflow-x-scroll gap-2;

      input,
      .field.has-addons .control input {
        @apply min-w-24 h-10;
      }

      .field.has-addons {
        @apply h-min;
      }
    }

    .flatpickr-wrapper {
      @apply w-full h-full;
    }
  }
}

@keyframes slidein {
  from {
    @apply opacity-0 -mt-4;
  }

  to {
    @apply opacity-100 mt-0;
  }
}
