.info-level-component {
  &.level-align-left {
    justify-content: flex-start;

    & > .level-item {
      flex-grow: 0;
      margin-right: 2rem;
    }
  }

  &.level-align-center {
    & > .level-item {
      text-align: center;
    }
  }

  &.level-align-right {
    justify-content: flex-end;

    & > .level-item {
      flex-grow: 0;
      margin-left: 2rem;
      text-align: right;
    }
  }
}
