.calendar-component {
  td {
    @apply p-1.5 align-top border border-base-300;
  }

  .day {
    @apply relative w-full;

    .hover-card-component {
      width: unset;
    }
  }

  .today {
    @apply bg-base-200 border-2 border-base-content/50;
  }

  .prev-month,
  .next-month {
    @apply bg-base-100;

    .has-text-weight-semibold {
      @apply text-base-content/40;
    }
  }

  .header {
    .unselected {
      @apply bg-base-100 border border-primary text-primary;

      svg > rect {
        @apply stroke-primary;
      }
    }
  }

  .table-container {
    .table {
      th {
        @apply border-none p-1.5;
      }

      th,
      td {
        @apply grow;
      }

      tr {
        @apply flex;
      }

      td {
        @apply mr-3 mb-3 rounded-md border-b;
      }
    }
  }

  .month-view {
    .day {
      @apply min-h-36;
    }

    td.today {
      @apply border-b-2;
    }
  }

  .week-view {
    .day {
      min-height: 50vh;

      @media (max-width: 768px) {
        width: 75vw;
      }
    }
  }
}
