@use 'sass/utilities' as *;
@use 'sass/utilities/mixins' as *;
@use '../../../assets/stylesheets/bali/variables.scss' as *;

$td-padding: 6px;
$td-border-color: #ddd;
$w-100: 100%;
$grey-7: hsl(200, 13%, 95%) !default;
$grey-alpha: hsla(0, 0%, 35%, 0.5);
$grey-darker-alpha: hsla(224, 28%, 19%, 0.4);

.calendar-component {
  td {
    padding: $td-padding;
    vertical-align: top;
    border: 1px solid $td-border-color;
  }

  .day {
    position: relative;
    width: $w-100;

    .hover-card-component {
      width: unset;
    }
  }

  .today {
    background: $grey-7;
    border: 2px solid $grey-alpha;
  }

  .prev-month,
  .next-month {
    background: $white;

    .has-text-weight-semibold {
      color: $grey-darker-alpha;
    }
  }

  .header {
    .unselected {
      background-color: $white;
      border: 1px solid $primary;
      color: $primary;

      svg>rect {
        stroke: $primary;
      }
    }
  }

  .table-container {
    .table {
      th {
        border: none;
        padding: $td-padding;
      }

      th,
      td {
        flex-grow: 1;
      }

      tr {
        display: flex;
      }

      td {
        margin: 0 0.7rem 0.7rem 0;
        border-radius: 0.375rem;
        border-bottom-width: 1px;
      }
    }
  }

  .month-view {
    .day {
      min-height: 9rem;
    }

    td.today {
      border-bottom-width: 2px;
    }
  }

  .week-view {
    .day {
      min-height: 50vh;

      @include mobile {
        width: 75vw;
      }
    }
  }
}