@use 'sass/utilities' as *;

$border-thickness: 0.0625rem;
$border-color: rgba(0, 0, 0, 0.23);

.reveal-component {
  user-select: none;

  .reveal-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $size-4;
    margin-bottom: $size-4;

    .trigger-icon {
      height: $size-7;
      transform: rotate(270deg);
    }
  }

  .is-border-bottom {
    border-bottom: $border-thickness solid $border-color;
  }

  .reveal-content {
    margin-bottom: $size-3;
    display: none;
  }

  &.is-revealed {
    .reveal-trigger {
      .icon {
        display: flex;
        transform: rotate(0deg);
      }
    }

    .reveal-content {
      display: block;
    }
  }
}