<%= render Bali::Navbar::Component.new(
    fullscreen: fullscreen,
    transparency: transparency,
    class: 'fixed top-0 left-0 right-0 z-50'
) do |nav| %>
  <% nav.with_brand do %>
    <%= tag.a('LOGO', class: 'navbar-item text-center', href: '#', style: 'position: absolute; left: 50%;') %>
  <% end %>
  <% nav.with_burger(class: 'left-burger') %>
  <% nav.with_burger(class: 'flex justify-center items-center lg:hidden', type: :alt) do %>
    <%= render Bali::Icon::Component.new('user', tag_name: :div) %>
  <% end %>
  <% nav.with_menu do |menu| %>
    <% menu.with_start_item(name: 'Home') %>
    <% menu.with_start_item(name: 'Documentation', href: '#') %>
    <% menu.with_start_item(class: 'dropdown dropdown-hover', tag_name: :div) do %>
      <a class="btn btn-ghost">
        More
      </a>
      <ul class='dropdown-content menu bg-base-100 rounded-box w-52 shadow'>
        <li><a>About</a></li>
        <li><a>Jobs</a></li>
        <li><a>Contact</a></li>
        <li class="divider"></li>
        <li><a>Report an issue</a></li>
      </ul>
    <% end %>
  <% end %>
  <% nav.with_menu(type: :alt) do |menu| %>
    <% menu.with_end_item(tag_name: :div) do %>
      <div class='flex gap-2'>
        <a class='btn btn-primary'>Sign up</a>
        <a class='btn btn-ghost'>Log in</a>
      </div>
    <% end %>
  <% end %>
<% end %>
<div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
  labore et dolore magna aliqua. Sed pulvinar proin gravida hendrerit. Ante in nibh mauris cursus 
  mattis. Vel elit scelerisque mauris pellentesque pulvinar. Pretium viverra suspendisse potenti 
  nullam ac. Quis blandit turpis cursus in hac habitasse platea. Id aliquet risus feugiat in ante 
  metus dictum. Scelerisque felis imperdiet proin fermentum leo vel. Lorem dolor sed viverra ipsum 
  nunc aliquet. Quis commodo odio aenean sed. Pharetra vel turpis nunc eget lorem dolor sed viverra 
  ipsum. Feugiat in fermentum posuere urna. Cursus metus aliquam eleifend mi in nulla.
  Ridiculus mus mauris vitae ultricies leo. Lectus nulla at volutpat diam ut venenatis tellus. 
  Ut venenatis tellus in metus vulputate eu scelerisque. Imperdiet proin fermentum leo vel orci 
  porta non. Sagittis orci a scelerisque purus semper eget duis at tellus. In nisl nisi scelerisque 
  eu. Amet risus nullam eget felis eget nunc lobortis. In pellentesque massa placerat duis ultricies 
  lacus sed. Blandit aliquam etiam erat velit scelerisque in dictum. Enim nunc faucibus a pellentesque 
  sit amet. Viverra aliquet eget sit amet tellus cras adipiscing. Netus et malesuada fames ac turpis 
  egestas sed. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue. Odio tempor orci dapibus
  ultrices in iaculis nunc sed augue. Amet consectetur adipiscing elit ut aliquam purus sit.
  Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Vitae proin sagittis
  nisl rhoncus mattis. Diam sit amet nisl suscipit adipiscing bibendum est ultricies. Facilisis leo 
  vel fringilla est ullamcorper.
  Vitae et leo duis ut diam quam nulla porttitor. Dui ut ornare lectus sit amet est placerat. 
  Urna condimentum mattis pellentesque id nibh tortor. Justo donec enim diam vulputate. Massa placerat
  duis ultricies lacus sed turpis tincidunt id. Sed augue lacus viverra vitae congue eu. Commodo 
  elit at imperdiet dui. Nunc lobortis mattis aliquam faucibus. Quis imperdiet massa tincidunt nunc 
  pulvinar sapien et ligula ullamcorper. Euismod in pellentesque massa placerat duis ultricies lacus 
  sed turpis. Ut sem viverra aliquet eget sit amet tellus cras. Vitae tempus quam pellentesque nec. 
  Varius duis at consectetur lorem donec massa sapien.
</div>
