<%= render Bali::SortableList::Component.new(list_id: 'root', disabled: disabled, group_name: group_name) do |s| %>
  <% 5.times do |i| %>
    <% s.with_item(update_url: update_url) { "Item #{i}" } %>
  <% end %>
  <% s.with_item(update_url: update_url) do |item| %>
    <p>Item 5</p>
    <% item.with_list(list_id: 'item-5', disabled: disabled, group_name: group_name) do |ns| %>
      <% 5.times do |j| %>
        <% ns.with_item(update_url: update_url) { "Nested Item #{j}" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
