.gantt-chart-component {
  .gantt-chart-drag-handle {
    width: 100%;
    cursor: move;
    display: flex;
    align-items: center;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.non-draggable {
      cursor: default;

      .timeline-task-name {
        padding-left: $gantt-chart-resizer-width;
        padding-right: $gantt-chart-resizer-width;
      }
    }
  }

  .timeline-task-name {
    font-size: 0.625rem;
    font-weight: 600;
  }

  .milestone {
    .timeline-task-name {
      display: none;
    }
  }

  .gantt-chart-cell.has-children .timeline-task-name {
    opacity: 0;
  }

  .task-name-too-long .timeline-task-name {
    opacity: 0;
  }
}
