<%= tag.div(**options) do %>
  <div class="step-marker">
    <%= render Bali::Icon::Component.new('check') if done? %>
  </div>
  <div class="step-details">
    <p class="step-title"><%= title %></p>
  </div>
<% end %>
