<%= render Bali::Reveal::Component.new(opened: opened) do |c| %>
  <% c.with_trigger(show_border: show_border) do |trigger| %>
    <% trigger.with_title do %>
      <div class='flex items-center'>
        <%= render Bali::Icon::Component.new('snowflake', class: 'mr-3') %>
        Click to see contents
      </div>
    <% end %>
  <% end %>
  <h1>Revealed contents</h1>
<% end %>
