<div class="flex items-center justify-center h-64 p-4">
  <%= render Bali::ActionsDropdown::Component.new(align: align, direction: direction) do |c|
    c.with_item(name: 'Edit', icon_name: 'edit', href: '#')
    c.with_item(name: 'Export', icon_name: 'file-export', href: '#')
    c.with_item(name: 'Delete', icon: true, href: '#', method: :delete)
  end %>
</div>
