<div class="flex justify-center items-center min-h-[200px] p-8">
  <%= render Bali::ActionsDropdown::Component.new do |c|
    c.with_trigger do
      tag.button('Actions ▾', type: 'button', tabindex: 0, class: 'btn btn-sm btn-outline')
    end
    c.with_item(name: 'Edit', icon_name: 'edit', href: '#')
    c.with_item(name: 'Export', icon_name: 'file-export', href: '#')
    c.with_item(name: 'Delete', icon_name: 'trash', href: '#', method: :delete)
  end %>
</div>
