@use 'sass/utilities' as *;
@use 'sass/elements' as *;
@use '../../../assets/stylesheets/bali/variables.scss' as *;

$z-index-bulk-actions: 39;

.bulk-actions-component {
  &--item.selected {
    border: solid 1px $info;
  }

  .actions-container {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    z-index: $z-index-bulk-actions;
    background-color: $white;

    .floated-bar {
      box-shadow: $thick-box-shadow;
      border-radius: $box-radius;
      display: flex;
      align-items: center;
    }

    .selected-count {
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      border-radius: $box-radius 0 0 $box-radius;
      color: $white;
      font-weight: bold;
      font-size: $size-4;
      height: 100%;
    }

    .bulk-actions {
      padding: 0.5rem 0.75rem;
    }
  }
}