<div class="<%= container_classes %>">
  <%# Sidebar %>
  <% if sidebar? %>
    <%= sidebar %>
  <% end %>

  <%# Main content area %>
  <div class="app-layout-content flex-1 flex flex-col min-h-screen bg-base-200">
    <%# Optional topbar %>
    <% if topbar? %>
      <div class="app-layout-topbar">
        <%= topbar %>
      </div>
    <% end %>

    <%# Body %>
    <main class="flex-1 p-6">
      <%= body? ? body : content %>
    </main>
  </div>
</div>
