@use 'sass/utilities' as *;

$icon-stroke-width: 30;

.rate-component {
  display: flex;
  flex-wrap: wrap;

  input[type='radio'] {
    display: none;
  }

  .radio+.radio {
    margin-left: 0;
  }

  .icon {
    &.is-small {
      margin-right: 0.25rem;
    }

    &.is-medium {
      margin-right: 0.5rem;
    }

    &.is-large {
      margin-right: 0.75rem;
    }
  }

  label:last-child .icon,
  button:last-child .icon,
  &>.icon:last-child {
    margin-right: 0;
  }

  .icon path {
    fill: $white;
    stroke: darken($yellow, 20%);
    stroke-width: $icon-stroke-width;
  }

  .icon.solid path {
    fill: $yellow;
  }

  button.star {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
}