<%= tag.div **@options do %>
  <%= image %>

  <div class="card-content">
    <div class="content">
      <%= content %>
    </div>
  </div>

  <div class="card-footer">
    <% footer_items.each do |footer_item| %>
      <%= footer_item %>
    <% end %>
  </div>
<% end %>
