<%= tag.div **@options do %>
  <%= image %>

  <% if content.present? %>
    <div class="card-content">
      <div class="content">
        <%= content %>
      </div>
    </div>
  <% end %>

  <% if footer_items.size > 0 %>
    <div class="card-footer">
      <% footer_items.each do |footer_item| %>
        <%= footer_item %>
      <% end %>
    </div>
  <% end %>
<% end %>
