.card-component {
  &.card-fit {
    height: 100%;
    display: flex;
    flex-direction: column;

    .card-content {
      height: 100%;
    }
  }

  .alt-image {
    display: none;
  }

  .image-container:hover {
    .alt-image {
      display: block;
    }

    .main-image {
      display: none;
    }
  }
}