<%= tag.span **@options do %>
  <span class="trigger" data-help-tip-target="trigger">
    <span>?</span>
  </span>
  <template data-help-tip-target="content">
    <%= content %>
  </template>
<% end %>
