@import './stylesheets/content';
@import './stylesheets/bubble_menu';
@import './stylesheets/slash_commands_dropdown';

.tippy-box .dropdown-item {
  &.is-active {
    @apply bg-base-200;
  }
}

.rich-text-editor-component {
  &.input {
    @apply h-auto min-h-20 block;

    &[data-rich-text-editor-editable-value='false'] {
      @apply border-none shadow-none p-0;
    }
  }

  .ProseMirror {
    @apply outline-none min-h-64;

    .is-empty:before {
      content: attr(data-placeholder);
      @apply float-left text-base-content/40 pointer-events-none h-0;
    }

    img.ProseMirror-selectednode {
      box-shadow: 0 0 0 3px oklch(var(--p) / 0.5);
    }
  }

  .tableWrapper {
    @apply overflow-x-auto;

    blockquote:not(:last-child),
    dl:not(:last-child),
    ol:not(:last-child),
    p:not(:last-child),
    pre:not(:last-child),
    table:not(:last-child),
    ul:not(:last-child) {
      @apply mb-0;
    }
  }

  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
}
