@use 'sass/utilities' as *;
@use 'sass/components/dropdown' as *;

$wide-menu-size: 22rem;

.dropdown-component {
  &.wide {
    .dropdown-menu {
      min-width: $wide-menu-size;
    }
  }

  .dropdown-item button.delete-link-component {
    padding: 0;
    height: unset;
    width: 100%;
    justify-content: flex-start;
    font-size: $size-7;

    .icon-component {
      margin-left: 0;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  form.dropdown-item:hover {
    background-color: $dropdown-item-hover-background-l-delta;
  }
}