.dropdown {
  .menu-item {
    @apply w-full text-left;

    button.delete-link-component {
      @apply p-0 w-full justify-start text-sm;

      .icon-component {
        @apply ml-0 h-5 w-5;
      }
    }
  }
}
