.gantt-chart-component {
  .gantt-chart-row {
    height: $gantt-chart-row-height;
    line-height: $gantt-chart-row-height - 1px;
    font-size: $size-7;

    position: relative;
    z-index: 1;

    .tooltip-component {
      padding-left: 0.75rem;
      padding-right: 0.25rem;
      overflow: hidden;

      &.children {
        padding-left: 0;
        font-weight: 800;
      }
    }

    .task-name {
      color: $grey-dark;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }

    .gantt-chart-row {
      .chevron-down {
        margin-left: 1.5rem;
      }

      .tooltip-component {
        padding-left: 1.5rem;
      }

      .tooltip-component.children {
        padding-left: 0;
      }

      .gantt-chart-row {
        .chevron-down {
          margin-left: 2.3rem;
        }

        .tooltip-component {
          padding-left: 2.25rem;

          &.children {
            padding-left: 0rem;
          }
        }

        .gantt-chart-row {
          .tooltip-component {
            padding-left: 3rem;
          }
        }
      }
    }
  }

  .gantt-chart-row-contents {
    display: flex;
    align-items: center;
  }

  .gantt-chart-list-children .gantt-chart-row:first-child {
    .gantt-chart-row-contents {
      border-top: none;
    }
  }

  .gantt-chart-data > .gantt-chart-row:first-child {
    & > .gantt-chart-row-contents {
      border-top: none;
    }
  }

  .handle {
    cursor: move;
    width: 1.5rem;
    min-width: 1.5rem;
  }

  .chevron-down {
    width: 0.5rem;
    margin-left: 0.75rem;
    margin-right: 0.2rem;
    cursor: pointer;

    .svg-inline {
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  .is-folded {
    .chevron-down {
      transform: rotate(-90deg);
    }

    .gantt-chart-list-children {
      display: none;
    }

    .gantt-chart-timeline-children {
      display: none;
    }
  }
}
