.gantt-chart-component {
  .gantt-chart-row {
    @apply relative z-[1] text-sm;
    height: $gantt-chart-row-height;
    line-height: $gantt-chart-row-height - 1px;

    .tooltip-component {
      @apply pl-3 pr-1 overflow-hidden grow;

      &.children {
        @apply pl-0 font-extrabold;
      }
    }

    .task-name {
      @apply text-base-content/70 text-ellipsis whitespace-nowrap overflow-hidden block;
    }

    .gantt-chart-row {
      .chevron-down {
        @apply ml-6;
      }

      .tooltip-component {
        @apply pl-6;
      }

      .tooltip-component.children {
        @apply pl-0;
      }

      .gantt-chart-row {
        .chevron-down {
          margin-left: 2.3rem;
        }

        .tooltip-component {
          padding-left: 2.25rem;

          &.children {
            @apply pl-0;
          }
        }

        .gantt-chart-row {
          .chevron-down {
            @apply ml-12;
          }

          .tooltip-component {
            @apply pl-12;
          }

          .tooltip-component.children {
            @apply pl-0;
          }

          .gantt-chart-row {
            .tooltip-component {
              padding-left: 3.75rem;
            }

            .tooltip-component.children {
              @apply pl-0;
            }
          }
        }
      }
    }
  }

  .gantt-chart-row-contents {
    @apply flex items-center;
  }

  .gantt-chart-list-children .gantt-chart-row:first-child {
    .gantt-chart-row-contents {
      @apply border-t-0;
    }
  }

  .gantt-chart-data > .gantt-chart-row:first-child {
    & > .gantt-chart-row-contents {
      @apply border-t-0;
    }
  }

  .handle {
    @apply cursor-move w-6 min-w-6;
  }

  .chevron-down {
    @apply w-2 ml-3 mr-0.5 cursor-pointer;

    .svg-inline {
      @apply size-3;
    }
  }

  .is-folded {
    .chevron-down {
      @apply -rotate-90;
    }

    .gantt-chart-list-children {
      @apply hidden;
    }

    .gantt-chart-timeline-children {
      @apply hidden;
    }
  }
}
