@import './property/index.scss';

.properties-table-component {
  td,
  th {
    border-width: 1px;
  }

  tbody {
    display: inline-table;
    width: 100%;
  }

  tbody tr:last-child td,
  tbody tr:last-child th {
    border-bottom-width: 1px;
  }
}
