<%= render Bali::Modal::Component.new(active: active, size: size) do %>
  <div class="space-y-4">
    <h3 class="text-lg font-bold">Modal Title</h3>
    <p>This is the modal content. You can put anything here.</p>
  </div>
<% end %>
