<%= render(Bali::Avatar::Group::Component.new(size: :sm)) do |group| %>
  <% group.with_avatar(src: 'avatar.png') %>
  <% group.with_avatar(src: 'avatar.png') %>
  <% group.with_avatar(src: 'avatar.png') %>
  <% group.with_counter do %>
    <span>+99</span>
  <% end %>
<% end %>
