.locations-map-component {
  display: flex;

  .location-map {
    flex: 1;
    height: 450px;
  }

  .locations-map-component--card {
    @extend .box;

    &.is-selected {
      background-color: $info;
      color: $white;
    }
  }

  &--cards {
    flex: 1;
    margin-right: 0.75rem;
  }

  &--locations {
    flex: 1;
    margin-left: 0.75rem;
  }
}