@use 'sass/utilities' as *;

.heatmap-component {
  $font-size: 0.6rem;
  $graph-border: solid 1px $grey-light;
  $label-y-padding-right: 1.5rem;
  $label-x-padding-top: 1rem;

  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;

  table {
    margin: auto;
  }

  .label-x,
  .label-y {
    font-size: $font-size;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }

  .label-y {
    vertical-align: middle;
    padding-right: $label-y-padding-right;
    border-right: $graph-border;
  }

  .label-x {
    text-align: center;
    padding-top: $label-x-padding-top;
    transform: rotate(315deg);
    border-top: $graph-border;
  }

  .legend {
    width: max-content;
    margin: auto;
    font-size: $font-size;
  }

  .legend-colors,
  .legend-labels {
    display: flex;
    height: $size-3;
  }
}