.gantt-chart-component {
  .gantt-chart-cell {
    @apply absolute h-full flex items-center;

    &.critical {
      .gantt-chart-cell-content {
        border: $gantt-chart-critical-border-width solid
          $gantt-chart-critical-color;

        .gantt-chart-resize {
          height: $gantt-chart-item-bubble-height -
            $gantt-chart-critical-border-width;
        }
      }
    }
  }

  .gantt-chart-cell-content {
    @apply w-full flex z-[1] absolute;
    height: $gantt-chart-item-bubble-height;
    border-radius: $gantt-chart-item-bubble-radius;
    box-shadow: $sharp-box-shadow;

    top: calc(($gantt-chart-row-height - $gantt-chart-item-bubble-height) / 2);

    &:hover .gantt-chart-resize {
      @apply opacity-100 bg-black/30;
    }
  }

  .gantt-chart-cell.has-children .gantt-chart-cell-content {
    $cell-content-height: calc($gantt-chart-item-bubble-height / 3);

    height: $cell-content-height;
    border-radius: calc($gantt-chart-item-bubble-radius / 3);
    top: calc(($gantt-chart-row-height - $cell-content-height) / 2);
  }

  .milestone .gantt-chart-cell-content {
    background-color: $gantt-chart-milestone-color;
    @apply rounded-sm h-4 w-4;
    transform: rotate(45deg);
    left: 4px;
    top: 10px;
  }

  .gantt-chart-resize {
    @apply opacity-0;
    height: $gantt-chart-item-bubble-height;
    width: $gantt-chart-resizer-width;

    path {
      @apply fill-white;
    }
  }

  .gantt-chart-resize-left {
    @apply cursor-w-resize;
    border-radius: $gantt-chart-item-bubble-radius 0 0
      $gantt-chart-item-bubble-radius;
  }

  .gantt-chart-resize-right {
    @apply cursor-e-resize;
    border-radius: 0 $gantt-chart-item-bubble-radius
      $gantt-chart-item-bubble-radius 0;
  }

  .right-timeline-task-name {
    @apply hidden absolute top-0 text-[0.625rem] font-semibold;
    @apply w-[300px] overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .gantt-chart-cell.has-children,
  .task-name-too-long,
  .milestone {
    .right-timeline-task-name {
      @apply block;
    }
  }

  .milestone {
    .right-timeline-task-name {
      left: 2rem !important;
    }
  }
}
