.gantt-chart-component {
  .gantt-chart-cell {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;

    &.critical {
      .gantt-chart-cell-content {
        border: $gantt-chart-critical-border-width solid
          $gantt-chart-critical-color;

        .gantt-chart-resize {
          height: $gantt-chart-item-bubble-height -
            $gantt-chart-critical-border-width;
        }
      }
    }
  }

  .gantt-chart-cell-content {
    width: 100%;
    height: $gantt-chart-item-bubble-height;
    border-radius: $gantt-chart-item-bubble-radius;
    display: flex;
    z-index: 1;
    box-shadow: $sharp-box-shadow;

    position: absolute;
    top: calc(($gantt-chart-row-height - $gantt-chart-item-bubble-height) / 2);

    &:hover .gantt-chart-resize {
      opacity: 1;
      background-color: rgba(10, 10, 10, 0.3);
    }
  }

  .gantt-chart-cell.has-children .gantt-chart-cell-content {
    $cell-content-height: calc($gantt-chart-item-bubble-height / 3);

    height: $cell-content-height;
    border-radius: calc($gantt-chart-item-bubble-radius / 3);
    top: calc(($gantt-chart-row-height - $cell-content-height) / 2);
  }

  .milestone .gantt-chart-cell-content {
    background-color: $gantt-chart-milestone-color;
    border-radius: 2px;
    transform: rotate(45deg);
    height: 1rem;
    width: 1rem;
    left: 4px;
    top: 10px;
  }

  .gantt-chart-resize {
    opacity: 0;
    height: $gantt-chart-item-bubble-height;
    width: $gantt-chart-resizer-width;

    path {
      fill: $white;
    }
  }

  .gantt-chart-resize-left {
    cursor: w-resize;
    border-radius: $gantt-chart-item-bubble-radius 0 0
      $gantt-chart-item-bubble-radius;
  }

  .gantt-chart-resize-right {
    cursor: e-resize;
    border-radius: 0 $gantt-chart-item-bubble-radius
      $gantt-chart-item-bubble-radius 0;
  }

  .right-timeline-task-name {
    display: none;
    position: absolute;
    top: 0;
    font-size: 0.625rem;
    font-weight: 600;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .gantt-chart-cell.has-children,
  .task-name-too-long,
  .milestone {
    .right-timeline-task-name {
      display: block;
    }
  }

  .milestone {
    .right-timeline-task-name {
      left: 2rem !important;
    }
  }
}
