<%= tag.div class: component_classes, data: component_data, **html_options do %>
  <div data-glide-el="track" class="glide__track">
    <ul class="glide__slides">
      <% items.each do |item| %>
        <li class="glide__slide"><%= item %></li>
      <% end %>
    </ul>
  </div>

  <% if bullets? %>
    <%= render Bali::Carousel::Bullets::Component.new(count: items.size, **bullets_options) %>
  <% end %>
  <%= arrows if arrows? %>
<% end %>
