.carousel-component.glide {
  @apply relative w-full box-border;

  * {
    box-sizing: inherit;
  }

  .glide__track {
    @apply overflow-hidden;
  }

  .glide__slides {
    @apply relative w-full list-none m-0 p-0;
    @apply whitespace-nowrap flex flex-nowrap will-change-transform;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
  }

  .glide__slide {
    @apply m-auto w-full h-full shrink-0 whitespace-normal select-none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    a {
      @apply select-none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    &--active {
      @apply z-[1];

      .image-center {
        @apply block m-auto;
      }
    }
  }

  .glide__arrows {
    -webkit-touch-callout: none;
    @apply select-none;
  }

  .glide__arrow {
    @apply absolute block top-1/2 z-[2] text-white uppercase;
    @apply bg-transparent border-2 border-white/50 rounded-full;
    @apply opacity-100 cursor-pointer;
    padding: 0.188rem;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;

    &:focus {
      @apply outline-none;
    }
    &:hover {
      @apply border-white;
    }

    &--left {
      left: -4rem;

      @media (max-width: 768px) {
        left: 2rem;
      }
    }

    &--right {
      right: -4rem;

      @media (max-width: 768px) {
        right: 2rem;
      }
    }

    &--disabled {
      @apply opacity-30;
    }
  }

  .glide__bullets {
    -webkit-touch-callout: none;
    @apply select-none absolute z-[2] left-1/2 inline-flex list-none;
    bottom: 2em;
    transform: translateX(-50%);
  }

  .glide__bullet {
    @apply w-2.5 h-2.5 p-0 rounded-full border-2 border-transparent cursor-pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 300ms ease-in-out;
    line-height: 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    margin: 0 0.25em;

    &:focus {
      @apply outline-none;
    }

    &:hover,
    &:focus {
      @apply border-2 border-white;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &--active {
      @apply bg-white;
    }
  }

  &--swipeable {
    @apply cursor-grab;
  }

  &--dragging {
    @apply cursor-grabbing;
  }

  &--rtl {
    direction: rtl;
  }

  .glide__expand-link {
    @apply absolute z-[1] rounded-full;
    bottom: 1.25rem;
    right: 1.25rem;

    path {
      @apply fill-white;
    }
  }
}
