<div class="<%= alert_classes %>" data-controller="notification" data-notification-delay-value="<%= @delay %>" data-notification-dismiss-value="<%= @dismiss %>" data-turbo-cache="false">
  <button class="btn btn-sm btn-circle btn-ghost" data-action="notification#close" aria-label="close">✕</button>
  <span><%= content %></span>
</div>
