@use 'sass/utilities' as *;

$z-index-notification: 101;
$notification-box-shadow: 0px 3px 18px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.03);
$top-position: 4.25rem;

.notification-component {
  box-shadow: $notification-box-shadow;

  &.fixed {
    position: fixed;
    top: $top-position;
    right: 1rem;
    z-index: $z-index-notification;

    &.native-app {
      position: fixed;
      top: 1rem;
      left: 50%;
      right: unset;
      transform: translateX(-50%);
      width: 100%;
    }
  }

  &.is-unclosable {
    .delete {
      display: none;
    }

    .notification-content-component {
      margin-right: 0;
    }
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}