.fadeOutRight {
  animation-name: fadeOutRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
