<div class="index-page-component">
  <%= render_breadcrumbs %>

  <%= render Bali::PageHeader::Component.new(title: title, subtitle: subtitle, class: breadcrumb_spacer_class) do |header| %>
    <%= render_actions_bar %>
  <% end %>

  <% if body? %>
    <div class="mt-4">
      <%= body %>
    </div>
  <% end %>
</div>
