<div id="modal-template" class="<%= modal_classes %>" data-modal-target="template">
  <div class="modal-backdrop" data-modal-target="background" data-action="click->modal#close"></div>
  <div class="<%= box_classes %>" data-wrapper-class="<%= @wrapper_class %>" data-modal-target="wrapper">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" aria-label="close" data-action="modal#close">✕</button>
    <div class="modal-inner" data-modal-target="content">
      <%= content %>
    </div>
  </div>
</div>
