$narrow-size: 25rem;
$medium-size: 40rem;
$wide-size: 50rem;
$extra-wide-size: 70rem;

$active-modal-z-index: 100;

$z-index-modal: 40;

.modal {
  .box.is-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;

    .loader {
      @include loader;
    }
  }

  @include mobile {
    display: block;
    opacity: 0;
    pointer-events: none;
  
    .modal-content:not(.carousel-modal) {
      position: absolute;
      bottom: 0;
      max-height: unset;
  
      margin: 0;
      margin-top: 4.5rem;
      padding-bottom: 3rem;
      width: 100%;
  
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      opacity: 1;
      transform: translateY(100%);
      transition: all 0.5s ease-in-out;
    }
  
    &.is-active {
      opacity: 1;
      pointer-events: auto;
  
      .modal-content {
        transform: none;
        opacity: 1;
      }
    }
  }
}

@include tablet {
  .modal-content {
    opacity: 1;

    &.narrow {
      max-width: $narrow-size;
      width: 100%;
    }

    &.medium {
      max-width: $medium-size;
      width: 100%;
    }

    &.wide {
      max-width: $wide-size;
      width: 100%;
    }

    &.extra-wide {
      max-width: $extra-wide-size;
      width: 100%;
    }
  }
}

