@use 'sass/utilities' as *;
@use 'sass/utilities/mixins' as *;

$modal-narrow-size: 25rem;
$modal-medium-size: 40rem;
$modal-wide-size: 50rem;
$modal-extra-wide-size: 70rem;

$active-modal-z-index: 100;

$z-index-modal: 40;

.modal {
  .box.is-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;

    .loader {
      @include loader;
    }
  }

  .carousel-modal {
    overflow: visible;
    background-color: transparent;
    box-shadow: none;
  }

  @include mobile {
    display: block;
    opacity: 0;
    pointer-events: none;

    .modal-content:not(.carousel-modal) {
      position: absolute;
      bottom: 0;
      max-height: 85%;
      margin: 0;
      margin-top: 4.5rem;
      padding-bottom: 3rem;
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      opacity: 1;
      transform: translateY(100%);
      transition: all 0.5s ease-in-out;
    }

    &.is-active {
      opacity: 1;
      pointer-events: auto;

      .modal-content {
        transform: none;
        opacity: 1;
      }
    }
  }
}

@include tablet {
  .modal-content {
    opacity: 1;

    &.narrow {
      max-width: $modal-narrow-size;
      width: 100%;
    }

    &.medium {
      max-width: $modal-medium-size;
      width: 100%;
    }

    &.wide {
      max-width: $modal-wide-size;
      width: 100%;
    }

    &.extra-wide {
      max-width: $modal-extra-wide-size;
      width: 100%;
    }

    &.fullwidth {
      max-width: calc(100vw - 144px);
      width: 100%;
    }
  }
}