<%= render Bali::Card::Component.new do |c| %>
  <% c.with_image do %>
    <div class="image-container group">
      <%= render Bali::Card::Image::Component.new(src: 'https://via.placeholder.com/320x244.png', class: 'hidden group-hover:block') %>
      <%= render Bali::Card::Image::Component.new(src: 'https://via.placeholder.com/640x480.png', class: 'group-hover:hidden') %>
    </div>
  <% end %>
  <% c.with_footer_item(href: '#') do %>
    Footer item with link
  <% end %>
  <% c.with_footer_item do %>
    Item with span
  <% end %>
  <div>
    Card content
  </div>
<% end %>
