<%= render Bali::Card::Component.new(class: 'w-96') do |c| %>
  <% c.with_image do %>
    <div class="image-container group">
      <%= render Bali::Card::Image::Component.new(src: 'https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp', class: 'hidden group-hover:block') %>
      <%= render Bali::Card::Image::Component.new(src: 'https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp', class: 'group-hover:hidden') %>
    </div>
  <% end %>
  <% c.with_footer_item(href: '#') do %>
    Footer item with link
  <% end %>
  <% c.with_footer_item do %>
    Item with span
  <% end %>
  <div>
    Card content
  </div>
<% end %>
