<div class="<%= container_classes %>">
  <span class="<%= loading_classes %>"></span>
  <% if show_text? %>
    <h2 class="text-xl font-semibold text-center"><%= display_text %></h2>
  <% end %>
</div>
