<div class="loader-component flex flex-col items-center gap-4">
  <span class="loading loading-spinner loading-lg"></span>
  <h2 class="text-xl font-semibold text-center"><%= @text || I18n.t('view_components.bali.loader.loading') %></h2>
</div>
