<%= tag.div(**container_attributes) do %>
  <span class="<%= loading_classes %>" role="status" aria-label="<%= aria_label %>"></span>
  <% if show_text? %>
    <p class="text-xl font-semibold text-center"><%= display_text %></p>
  <% end %>
<% end %>
