<div class='grid grid-cols-5 gap-4'>
  <% icons.each do |icon| %>
    <div class='text-center'>
      <%= render Bali::Icon::Component.new(icon) %>
      <p><%= icon %></p>
    </div>
  <% end %>
</div>