$border-color: $grey-lighter;

$gantt-chart-header-height: 45px;
$gantt-chart-header-size: 11px;

$gantt-chart-list-width: 200px;
$gantt-chart-row-height: 35px;
$gantt-chart-item-color: $green;
$gantt-chart-milestone-color: $purple;

$gantt-chart-item-bubble-height: 25px;
$gantt-chart-item-bubble-radius: $gantt-chart-item-bubble-height / 2;

$gantt-chart-scale-height: 23px;
$gantt-chart-today-color: lighten($blue, 20%);
$gantt-chart-resizer-width: 10px;
$gantt-chart-timeline-data-height: calc(100% - #{($gantt-chart-header-height)});

.gantt-chart-component {
  border-top: 2px solid $border-color;
  border-bottom: 1px solid $border-color;

  .gantt-chart-actions {
    width: 100%;
    height: $gantt-chart-header-height;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;

    a.today {
      color: $grey-dark;
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      margin-right: 1rem;
      border: 1px solid $white-ter;

      &:hover {
        background-color: $white-ter;
        border: 1px solid $grey-lightest;
      }
    }

    .buttons {
      margin-bottom: 0;
    }

    .button {
      padding: 0.25rem 0.5rem;
      margin-bottom: 0;
      height: unset;
      line-height: unset;

      &.is-info {
        background-color: $gantt-chart-today-color;
      }
    }
  }

  .gantt-chart-container {
    display: flex;
    position: relative;
  }

  .gantt-chart-list {
    min-width: $gantt-chart-list-width;
    width: $gantt-chart-list-width;

    .gantt-chart-header {
      line-height: $gantt-chart-header-height;
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
      width: 100%;
      padding-left: 1.25rem;
      color: $grey-light;
      text-transform: uppercase;
    }

    .gantt-chart-row-contents {
      background-color: $white;
      border: 1px solid $border-color;
      user-select: none;
    }
  }

  .gantt-chart-list-resizer {
    width: $gantt-chart-resizer-width;
    z-index: 2;
    cursor: col-resize;
    background: transparent;
    position: absolute;
    left: $gantt-chart-list-width - ($gantt-chart-resizer-width/2);
    height: 100%;

    &:hover .gantt-chart-list-resizer-shadow {
      box-shadow: 0 0 3px 1px $gantt-chart-today-color;
      width: 1px;
      height: 100%;

      position: absolute;
      left: $gantt-chart-resizer-width/2;
      background-color: $border-color;
    }
  }

  .gantt-chart-header {
    display: inline-block;

    height: $gantt-chart-header-height;
    font-size: $size-7;

    border-bottom: 1px solid $border-color;
  }

  .gantt-chart-scale-line {
    height: $gantt-chart-scale-height - 1px;
    line-height: $gantt-chart-scale-height;
    display: inline-flex;
    text-align: center;
    font-size: $gantt-chart-header-size;
    font-weight: 500;

    &.top-line {
      border-bottom: 1px solid $border-color;
    }
  }

  .gantt-chart-header-month,
  .gantt-chart-header-year {
    font-weight: 500;
    border-right: 1px solid $border-color;
  }

  .gantt-chart-header-day,
  .gantt-chart-header-month-year {
    display: inline-block;
    border-right: 1px solid $border-color;
  }

  .gantt-chart-row {
    height: $gantt-chart-row-height;
    line-height: $gantt-chart-row-height;
    font-size: $size-7;

    position: relative;
    z-index: 1;
  }

  .gantt-chart-row-contents {
    display: flex;
    align-items: center;
  }

  .gantt-chart-cell {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .gantt-chart-cell-content {
    background-color: $gantt-chart-item-color;
    width: 100%;
    height: $gantt-chart-item-bubble-height;
    border-radius: $gantt-chart-item-bubble-radius;
    display: flex;
    z-index: 1;
    box-shadow: $sharp-box-shadow;

    position: absolute;
    top: ($gantt-chart-row-height - $gantt-chart-item-bubble-height) / 2;

    &:hover .gantt-chart-resize {
      opacity: 1;
      background-color: rgba(10, 10, 10, 0.3);
    }
  }

  .gantt-chart-cell.has-children .gantt-chart-cell-content {
    height: $gantt-chart-item-bubble-height / 3;
    border-radius: $gantt-chart-item-bubble-radius / 3;
    top: ($gantt-chart-row-height - ($gantt-chart-item-bubble-height / 3))/2;
  }

  .milestone .gantt-chart-cell-content {
    background-color: $gantt-chart-milestone-color;
    border-radius: 2px;
    transform: rotate(45deg);
    height: 1rem;
    width: 1rem;
    left: 4px;
    top: 10px;
  }

  .gantt-chart-timeline {
    flex-grow: 1;
    overflow-x: scroll;
    border-right: 1px solid $border-color;
    position: relative;
  }

  .gantt-chart-today-marker {
    position: absolute;
    top: $gantt-chart-header-height;
    height: $gantt-chart-timeline-data-height;
    width: 2px;
    background-color: $gantt-chart-today-color;

    span {
      background-color: $gantt-chart-today-color;
      font-size: 0.625rem;
      color: $white;
      display: inline-block;
      position: absolute;
      top: 0;
      padding: 0.12rem 0.25rem;
      font-weight: 300;
      z-index: 2;
    }
  }

  .gantt-chart-drag-shadow {
    background-color: rgba($gantt-chart-today-color, 0.15);
    height: $gantt-chart-timeline-data-height;
    width: 0;
    position: absolute;
    top: $gantt-chart-header-height;
  }

  .gantt-chart-timeline-background {
    position: absolute;
    top: $gantt-chart-header-height;
    height: $gantt-chart-timeline-data-height;
    width: 100%;
  }

  .gantt-chart-timeline-background-column {
    position: absolute;
    top: 0;
    height: 100%;
    border-right: 1px solid rgba($border-color, 0.5);

    &.is-weekend {
      background-color: rgba($grey-lightest, 0.4);
    }
  }

  .gantt-chart-data-area {
    background-color: $white-bis;
    height: $gantt-chart-timeline-data-height;
    padding-bottom: 1px;
    overflow: hidden;
  }

  .gantt-chart-timeline-children {
    position: absolute;
    top: $gantt-chart-row-height;
  }

  .gantt-chart-resize {
    opacity: 0;
    height: $gantt-chart-item-bubble-height;
    width: $gantt-chart-resizer-width;

    path {
      fill: $white;
    }
  }

  .gantt-chart-resize-left {
    cursor: w-resize;
    border-radius: $gantt-chart-item-bubble-radius 0 0
      $gantt-chart-item-bubble-radius;
  }

  .gantt-chart-resize-right {
    cursor: e-resize;
    border-radius: 0 $gantt-chart-item-bubble-radius
      $gantt-chart-item-bubble-radius 0;
  }

  .gantt-chart-drag-handle {
    width: 100%;
    cursor: move;
    display: flex;
    align-items: center;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.non-draggable {
      cursor: default;

      .timeline-task-name {
        padding-left: $gantt-chart-resizer-width;
        padding-right: $gantt-chart-resizer-width;
      }
    }
  }

  .timeline-task-name {
    font-size: 0.625rem;
    font-weight: 600;
  }

  .gantt-chart-cell.has-children .timeline-task-name {
    opacity: 0;
  }

  .task-name-too-long .timeline-task-name {
    opacity: 0;
  }

  .right-timeline-task-name {
    display: none;
    position: absolute;
    top: 0;
    font-size: 0.625rem;
    font-weight: 600;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .gantt-chart-cell.has-children,
  .task-name-too-long,
  .milestone {
    .right-timeline-task-name {
      display: block;
    }
  }

  .milestone {
    .right-timeline-task-name {
      left: 2rem !important;
    }
  }

  .milestone {
    .timeline-task-name {
      display: none;
    }
  }

  .gantt-chart-row {
    .tooltip-component {
      padding-left: 0.75rem;
      padding-right: 0.25rem;
      overflow: hidden;

      &.children {
        padding-left: 0;
        font-weight: 800;
      }
    }

    .task-name {
      color: $grey-dark;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .gantt-chart-row {
      .chevron-down {
        margin-left: 0.75rem;
      }

      .tooltip-component {
        padding-left: 1.5rem;
      }

      .tooltip-component.children {
        padding-left: 0;
      }

      .gantt-chart-row {
        .chevron-down {
          margin-left: 1.5rem;
        }

        .tooltip-component {
          padding-left: 2.25rem;

          &.children {
            padding-left: 0rem;
          }
        }

        .gantt-chart-row {
          .tooltip-component {
            padding-left: 3rem;
          }
        }
      }
    }
  }

  .handle {
    cursor: move;
    width: 1.5rem;
  }

  .is-folded .chevron-down {
    transform: rotate(-90deg);
  }

  .is-folded {
    .gantt-chart-list-children {
      display: none;
    }

    .gantt-chart-timeline-children {
      display: none;
    }
  }

  .gantt-chart-list-children .gantt-chart-row:first-child {
    .gantt-chart-row-contents {
      border-top: none;
    }
  }

  .gantt-chart-data > .gantt-chart-row:first-child {
    & > .gantt-chart-row-contents {
      border-top: none;
    }
  }

  .chevron-down {
    width: 0.5rem;
    margin-right: 0.2rem;
    cursor: pointer;

    .svg-inline {
      height: 0.75rem;
      width: 0.75rem;
    }
  }
}
