@use 'sass/utilities' as *;
@use '../../../assets/stylesheets/bali/variables.scss' as *;

$gantt-chart-border-color: $grey-lighter;

$gantt-chart-header-height: 45px;
$gantt-chart-header-size: 11px;

$gantt-chart-list-width: 200px;
$gantt-chart-row-height: 35px;
$gantt-chart-milestone-color: $purple;

$gantt-chart-critical-color: lighten($red, 10%);
$gantt-chart-critical-border-width: 2px;

$gantt-chart-item-bubble-height: 25px;
$gantt-chart-item-bubble-radius: calc($gantt-chart-item-bubble-height / 2);

$gantt-chart-scale-height: 23px;
$gantt-chart-today-color: lighten($blue, 20%);
$gantt-chart-resizer-width: 10px;
$gantt-chart-timeline-data-height: 100%;

@import './drag_handle/index';
@import './list_row/index';
@import './timeline_background/index';
@import './task_actions/index';
@import './timeline_cell/index';
@import './timeline_header/index';

.gantt-chart-component {
  border-top: 2px solid $gantt-chart-border-color;
  border-bottom: 1px solid $gantt-chart-border-color;

  .gantt-chart-actions {
    width: 100%;
    height: $gantt-chart-header-height;
    border-bottom: 1px solid $gantt-chart-border-color;
    border-left: 1px solid $gantt-chart-border-color;
    border-right: 1px solid $gantt-chart-border-color;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;

    a.today {
      color: $grey-dark;
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      margin-right: 1rem;
      border: 1px solid $white-ter;

      &:hover {
        background-color: $white-ter;
        border: 1px solid $grey-lightest;
      }
    }

    .buttons {
      margin-bottom: 0;
    }

    .button {
      padding: 0.25rem 0.5rem;
      margin-bottom: 0;
      height: unset;
      line-height: unset;

      &.is-info {
        background-color: $gantt-chart-today-color;
      }
    }
  }

  .gantt-chart-container {
    display: flex;
    position: relative;
  }

  .gantt-chart-list {
    min-width: $gantt-chart-list-width;
    width: $gantt-chart-list-width;

    .gantt-chart-header {
      line-height: $gantt-chart-header-height;
      border-right: 1px solid $gantt-chart-border-color;
      border-left: 1px solid $gantt-chart-border-color;
      width: 100%;
      padding-left: 1.25rem;
      color: $grey-light;
      text-transform: uppercase;
    }

    .gantt-chart-row-contents {
      background-color: $white;
      border-bottom: 1px solid $gantt-chart-border-color;
      border-left: 1px solid $gantt-chart-border-color;
      border-right: 1px solid $gantt-chart-border-color;
      user-select: none;
    }
  }

  .gantt-chart-list-resizer {
    width: $gantt-chart-resizer-width;
    z-index: 2;
    cursor: col-resize;
    background: transparent;
    position: absolute;
    left: $gantt-chart-list-width - calc($gantt-chart-resizer-width / 2);
    height: 100%;

    &:hover .gantt-chart-list-resizer-shadow {
      box-shadow: 0 0 3px 1px $gantt-chart-today-color;
      width: 1px;
      height: 100%;

      position: absolute;
      left: calc($gantt-chart-resizer-width / 2);
      background-color: $gantt-chart-border-color;
    }
  }

  .gantt-chart-timeline {
    flex-grow: 1;
    overflow-x: scroll;
    border-right: 1px solid $gantt-chart-border-color;
    position: relative;
  }

  .gantt-chart-today-marker {
    position: absolute;
    top: 0;
    height: $gantt-chart-timeline-data-height;
    width: 2px;
    background-color: $gantt-chart-today-color;
    z-index: 1;

    span {
      background-color: $gantt-chart-today-color;
      font-size: 0.625rem;
      color: $white;
      display: inline-block;
      position: absolute;
      top: 0;
      padding: 0.12rem 0.25rem;
      font-weight: 300;
      z-index: 2;
    }
  }

  .gantt-chart-drag-shadow {
    background-color: rgba($gantt-chart-today-color, 0.15);
    height: $gantt-chart-timeline-data-height;
    width: 0;
    position: absolute;
    top: 0;
  }

  .gantt-chart-data-area {
    background-color: $white-bis;
    height: calc(100% - #{($gantt-chart-header-height)});
    overflow: hidden;
    position: relative;
  }

  .gantt-chart-timeline-children {
    position: absolute;
    top: $gantt-chart-row-height;
  }

  .gantt-chart-connections-canvas {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .gantt-chart-footer,
  .gantt-chart-list-footer {
    border-left: 1px solid $gantt-chart-border-color;
    border-right: 1px solid $gantt-chart-border-color;
  }
}