<li>
  <%= render Bali::Link::Component.new(href: @href, name: @name, icon_name: @icon, active_path: request.path, **@options) %>

  <% if (active?(request.path) || active_child_items?(request.path)) && child_items.present? %>
    <ul>
      <% child_items.each do |item| %>
        <%= item %>
      <% end %>
    </ul>
  <% end %>
</li>
