<li>
  <%= render Bali::Link::Component.new(
             href: @href,
             name: @name,
             icon_name: @icon,
             active_path: current_path,
             active: @active,
             **@options) do %>
    <%= content %>
  <% end %>

  <% if active? && items.present? %>
    <ul>
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    </ul>
  <% end %>
</li>
