<li>
  <%= render Bali::Link::Component.new(href: @href, name: @name, icon_name: @icon, active_path: request.path, **@options) %>

  <% if active? && active_child_items? %>
    <ul>
      <% child_items.each do |item| %>
        <%= item %>
      <% end %>
    </ul>
  <% end %>
</li>
