name: 'Storybook'
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  storybook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Storybook ViewComponent Stories
        run: |
          cd spec/dummy
          bundle exec rake view_component_storybook:write_stories_json
