<div class="gantt-chart-header">
  <div class="gantt-chart-scale-line top-line">
    <% days_by_month.each do |month_number, dates| %>
      <div class="gantt-chart-header-month" style="width: <%= dates.size * col_width %>px">
        <%= I18n.t("date.month_names")[month_number] %>
      </div>
    <% end %>
  </div>

  <div class="gantt-chart-scale-line">
    <% days_by_month.each do |month_number, dates| %>
      <% dates.each do |date| %>
        <div class="gantt-chart-header-day">
          <%= date.day %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
