.gantt-chart-component {
  .gantt-chart-header {
    @apply inline-block text-sm;
    height: $gantt-chart-header-height;
    border-bottom: 1px solid $border-color;
  }

  .gantt-chart-scale-line {
    @apply inline-flex text-center font-medium;
    height: $gantt-chart-scale-height - 1px;
    line-height: $gantt-chart-scale-height;
    font-size: $gantt-chart-header-size;

    &.top-line {
      border-bottom: 1px solid $border-color;
    }
  }

  .gantt-chart-header-month,
  .gantt-chart-header-year {
    @apply font-medium;
    border-right: 1px solid $border-color;
  }

  .gantt-chart-header-day,
  .gantt-chart-header-month-year {
    @apply inline-block;
    border-right: 1px solid $border-color;
  }
}
