.gantt-chart-component {
  .gantt-chart-header {
    display: inline-block;

    height: $gantt-chart-header-height;
    font-size: $size-7;

    border-bottom: 1px solid $gantt-chart-border-color;
  }

  .gantt-chart-scale-line {
    height: $gantt-chart-scale-height - 1px;
    line-height: $gantt-chart-scale-height;
    display: inline-flex;
    text-align: center;
    font-size: $gantt-chart-header-size;
    font-weight: 500;

    &.top-line {
      border-bottom: 1px solid $gantt-chart-border-color;
    }
  }

  .gantt-chart-header-month,
  .gantt-chart-header-year {
    font-weight: 500;
    border-right: 1px solid $gantt-chart-border-color;
  }

  .gantt-chart-header-day,
  .gantt-chart-header-month-year {
    display: inline-block;
    border-right: 1px solid $gantt-chart-border-color;
  }
}